Repository Kernel360/f1-Yigil, pull requests merged in 2023-12, with the labels that each got.

#3 프로젝트 생성
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/kr/co/yigil/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/kr/co/yigil/BackendApplicationTests.java
Labels: ⭐️Feat, 🛜Backend, 💻Frontend

#5 Chore#4 link db
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: 🛜Backend, 🧹Chore

#6 Chore/update-issue-templates
  .github/ISSUE_TEMPLATE/yigil-issue-template.md
Labels: 📕Docs, 👍Refactor

#20 프론트엔드 프로젝트 생성
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/empty.txt
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: 💻Frontend, 🧹Chore

#25 폰트 설정, 내비게이션 라우트, 랜딩페이지 생성
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fonts/Jalnan2TTF.ttf
  frontend/public/icons/add-active.svg
  frontend/public/icons/add.svg
  frontend/public/icons/heart-active.svg
  frontend/public/icons/heart.svg
  frontend/public/icons/home-active.svg
  frontend/public/icons/home.svg
  frontend/public/icons/location-active.svg
  frontend/public/icons/location.svg
  frontend/public/icons/mypage-active.svg
  frontend/public/icons/mypage.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/yigil-logo-main.png
  frontend/src/app/(afterlogin)/home/page.tsx
  frontend/src/app/(afterlogin)/layout.tsx
  frontend/src/app/(afterlogin)/myfavorite/page.tsx
  frontend/src/app/(afterlogin)/mygil/page.tsx
  frontend/src/app/(afterlogin)/mypage/page.tsx
  frontend/src/app/(afterlogin)/recommend/page.tsx
  frontend/src/app/(beforelogin)/login/page.tsx
  frontend/src/app/_components/landing/LandingPage.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: ⭐️Feat, 💻Frontend

#26 Feat/#21 encode properties with jasypt
  .gitignore
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/global/config/JasyptConfig.java
  backend/src/main/java/kr/co/yigil/member/domain/MemberStatus.java
  backend/src/main/resources/config.properties
  backend/src/test/java/kr/co/yigil/global/config/JasyptApplicationTest.java
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/fonts/Jalnan2TTF.ttf
  frontend/public/icons/add-active.svg
  frontend/public/icons/add.svg
  frontend/public/icons/heart-active.svg
  frontend/public/icons/heart.svg
  frontend/public/icons/home-active.svg
  frontend/public/icons/home.svg
  frontend/public/icons/location-active.svg
  frontend/public/icons/location.svg
  frontend/public/icons/mypage-active.svg
  frontend/public/icons/mypage.svg
  frontend/public/yigil-logo-main.png
  frontend/src/app/(afterlogin)/home/page.tsx
  frontend/src/app/(afterlogin)/layout.tsx
  frontend/src/app/(afterlogin)/myfavorite/page.tsx
  frontend/src/app/(afterlogin)/mygil/page.tsx
  frontend/src/app/(afterlogin)/mypage/page.tsx
  frontend/src/app/(afterlogin)/recommend/page.tsx
  frontend/src/app/(beforelogin)/login/page.tsx
  frontend/src/app/_components/landing/LandingPage.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: ⭐️Feat, 🛜Backend

#31 Feat/#30 kakao login
  frontend/public/loginBtns/g-logo.png
  frontend/public/loginBtns/google_login.png
  frontend/public/loginBtns/kakao_login.png
  frontend/public/loginBtns/kakao_logo.png
  frontend/src/app/(afterlogin)/follow/page.tsx
  frontend/src/app/(afterlogin)/myfavorite/page.tsx
  frontend/src/app/(beforelogin)/login/page.tsx
  frontend/src/app/(beforelogin)/login_error/page.tsx
  frontend/src/app/_components/landing/LandingPage.tsx
  frontend/src/app/_components/ui/button/Kakao.tsx
  frontend/src/app/_components/ui/main-logo/MainLogo.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/context/AuthContext.tsx
Labels: ⭐️Feat, 💻Frontend

#33 Update gradle.yml
  .github/workflows/gradle.yml
Labels: 🛜Backend

#34 Update CD - gradle
  .github/workflows/gradle.yml
Labels: 🛜Backend

#35 Update gradle.yml
  .github/workflows/gradle.yml
Labels: 🛜Backend

#36 Update gradle.yml
  .github/workflows/gradle.yml
Labels: 🛜Backend

#37 Update gradle.yml
  .github/workflows/gradle.yml
Labels: 🛜Backend

#40 Update gradle.yml
  .github/workflows/gradle.yml
Labels: 🛜Backend

#48 next-auth secret 추가 및 자잘한 에러 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(afterlogin)/layout.tsx
  frontend/src/app/(beforelogin)/login/page.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Labels: 💻Frontend, 🧹Chore

#47 Create Pull_Request_template.md
  .github/Pull_Request_template.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(afterlogin)/layout.tsx
  frontend/src/app/(beforelogin)/login/page.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Labels: 📕Docs

#51 49 소셜 로그인 기능 구현 및 카카오 로그인
  .github/ISSUE_TEMPLATE/yigil-issue-template.md
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/login/application/LoginService.java
  backend/src/main/java/kr/co/yigil/login/application/LoginStrategyManager.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/GoogleLoginStratgy.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/LoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/domain/OauthProvider.java
  backend/src/main/java/kr/co/yigil/login/dto/request/LoginRequest.java
  backend/src/main/java/kr/co/yigil/login/dto/response/GoogleLoginResponse.java
  backend/src/main/java/kr/co/yigil/login/dto/response/KakaoLoginResponse.java
  backend/src/main/java/kr/co/yigil/login/dto/response/LoginResponse.java
  backend/src/main/java/kr/co/yigil/login/presentation/LoginController.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
Labels: ⭐️Feat, 🛜Backend, 🧹Chore

#52 프론트엔드 환경설정 파일 복구
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
Labels: 🧹Chore

#53 Dockerfile 추가
  backend/Dockerfile
Labels: 🛜Backend

#59 카카오 로그인을 위한 토큰 유효성 검사 로직 구현
  backend/src/main/java/kr/co/yigil/global/exception/InvalidTokenException.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/GoogleLoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/LoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/dto/request/KakaoLoginRequest.java
  backend/src/main/java/kr/co/yigil/login/dto/response/KakaoTokenInfoResponse.java
  backend/src/main/resources/url.properties
Labels: ⭐️Feat, 🛜Backend

#61 [feature] Create ci.yml
  .github/workflows/ci.yml
Labels: ⭐️Feat, 🛜Backend

#62 카카오 로그인 API 구현 및 테스트
  backend/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/GoogleLoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/LoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/dto/request/GoogleLoginRequest.java
  backend/src/main/java/kr/co/yigil/login/dto/request/KakaoLoginRequest.java
  backend/src/main/java/kr/co/yigil/login/dto/request/LoginRequest.java
  backend/src/main/java/kr/co/yigil/login/dto/response/GoogleLoginResponse.java
  backend/src/main/java/kr/co/yigil/login/dto/response/KakaoLoginResponse.java
  backend/src/main/java/kr/co/yigil/login/dto/response/KakaoTokenInfoResponse.java
  backend/src/main/java/kr/co/yigil/login/dto/response/LoginResponse.java
  backend/src/main/java/kr/co/yigil/login/presentation/LoginController.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/src/main/java/kr/co/yigil/member/domain/repository/MemberRepository.java
  backend/src/test/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategyTest.java
  backend/src/test/java/kr/co/yigil/login/presentation/LoginControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#73 72 통과하지 않는 테스트 수정
  backend/src/main/java/kr/co/yigil/BackendApplication.java
  backend/src/main/java/kr/co/yigil/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/src/main/java/kr/co/yigil/travel/domain/Course.java
  backend/src/main/java/kr/co/yigil/travel/domain/Spot.java
  backend/src/main/java/kr/co/yigil/travel/domain/Travel.java
Labels: 🛠️Fix, 🛜Backend

#77 74 내 정보 조회
  .github/ISSUE_TEMPLATE/-이길어때-이슈-템플릿👩-💻.md
  .github/Pull_Request_template.md
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/auth/Auth.java
  backend/src/main/java/kr/co/yigil/auth/MemberOnly.java
  backend/src/main/java/kr/co/yigil/auth/MemberOnlyChecker.java
  backend/src/main/java/kr/co/yigil/auth/domain/Accessor.java
  backend/src/main/java/kr/co/yigil/auth/domain/Authority.java
  backend/src/main/java/kr/co/yigil/global/config/LoginResolverConfig.java
  backend/src/main/java/kr/co/yigil/global/exception/BadRequestException.java
  backend/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/src/main/java/kr/co/yigil/login/application/LoginArgumentResolver.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/src/main/java/kr/co/yigil/member/domain/SocialLoginType.java
  backend/src/main/java/kr/co/yigil/member/domain/repository/MemberRepository.java
  backend/src/main/java/kr/co/yigil/member/dto/request/MemberUpdateRequest.java
  backend/src/main/java/kr/co/yigil/member/dto/response/MemberInfoResponse.java
  backend/src/main/java/kr/co/yigil/member/dto/response/MemberUpdateResponse.java
  backend/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/src/main/java/kr/co/yigil/post/domain/Post.java
  backend/src/main/java/kr/co/yigil/post/domain/repository/PostRepository.java
  backend/src/test/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategyTest.java
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
  backend/src/test/java/kr/co/yigil/member/presentation/MemberControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#83 헤더 컴포넌트 구현
  frontend/public/icons/bell.svg
  frontend/public/icons/search.svg
  frontend/public/logo/header-logo.svg
  frontend/public/yigil-logo-main.png
  frontend/src/app/(afterlogin)/follow/page.tsx
  frontend/src/app/(afterlogin)/home/page.tsx
  frontend/src/app/(afterlogin)/layout.tsx
  frontend/src/app/(afterlogin)/mygil/page.tsx
  frontend/src/app/(afterlogin)/mypage/page.tsx
  frontend/src/app/(afterlogin)/recommend/page.tsx
  frontend/src/app/(beforelogin)/login/page.tsx
  frontend/src/app/(beforelogin)/login_error/page.tsx
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/ui/HeaderIcons.tsx
  frontend/src/app/_components/header/ui/HeaderLogo.tsx
  frontend/src/app/_components/landing/LandingPage.tsx
  frontend/src/app/_components/ui/main-logo/MainLogo.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/follow/page.tsx
  frontend/src/app/login/_components/ui/LoginLogo.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/mygil/page.tsx
  frontend/src/app/mypage/page.tsx
  frontend/src/app/notification/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/recommend/page.tsx
  frontend/src/app/search/page.tsx
Labels: ⭐️Feat, 💻Frontend

#84 Feature: 구글 로그인 버튼
  frontend/public/loginBtns/google_login.svg
  frontend/src/app/_components/ui/button/GoogleLoginButton.tsx
  frontend/src/app/_components/ui/button/Kakao.tsx
  frontend/src/app/login/page.tsx
Labels: ⭐️Feat, 💻Frontend

#78 Hotfix: 수정 사항 반영
  backend/.idea/.gitignore
  backend/.idea/.name
  backend/.idea/compiler.xml
  backend/.idea/inspectionProfiles/Project_Default.xml
  backend/.idea/jarRepositories.xml
  backend/.idea/kotlinc.xml
  backend/.idea/misc.xml
  backend/.idea/modules.xml
  backend/.idea/modules/yigil.main.iml
  backend/.idea/sqldialects.xml
  backend/.idea/vcs.xml
  backend/src/main/java/kr/co/yigil/login/application/LoginArgumentResolver.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/src/main/java/kr/co/yigil/member/dto/response/MemberDeleteResponse.java
  backend/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
  backend/src/test/java/kr/co/yigil/member/presentation/MemberControllerTest.java
Labels: 🛠️Fix, 🛜Backend

#87 파일 업로드 기능 구현
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/file/FileType.java
  backend/src/main/java/kr/co/yigil/file/FileUploadEvent.java
  backend/src/main/java/kr/co/yigil/file/FileUploadEventListener.java
  backend/src/main/java/kr/co/yigil/global/config/S3Config.java
  backend/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/src/main/java/kr/co/yigil/global/exception/FileException.java
  backend/src/main/java/kr/co/yigil/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/login/presentation/LoginController.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/src/main/java/kr/co/yigil/member/domain/repository/MemberRepository.java
  backend/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/src/main/java/kr/co/yigil/post/domain/Post.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategyTest.java
Labels: ⭐️Feat, 🛜Backend

#92 멤버 도메인 관련 CRUD 를 위한 api 생성
  backend/src/main/java/kr/co/yigil/auth/domain/Accessor.java
  backend/src/main/java/kr/co/yigil/file/FileUploadEvent.java
  backend/src/main/java/kr/co/yigil/file/FileUploadEventListener.java
  backend/src/main/java/kr/co/yigil/login/application/LoginArgumentResolver.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/src/main/java/kr/co/yigil/member/dto/request/MemberUpdateRequest.java
  backend/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/src/test/java/kr/co/yigil/auth/MemberOnlyCheckerTest.java
  backend/src/test/java/kr/co/yigil/auth/domain/AccessorTest.java
  backend/src/test/java/kr/co/yigil/file/FileUploadEventListenerTest.java
  backend/src/test/java/kr/co/yigil/file/FileUploadEventTest.java
  backend/src/test/java/kr/co/yigil/login/application/LoginArgumentResolverTest.java
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
  backend/src/test/java/kr/co/yigil/member/presentation/MemberControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#101 hotfix: AuthException 이 일어나도 세션이 생성되는 오류
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/BackendApplication.java
  backend/src/main/java/kr/co/yigil/global/config/AsyncConfig.java
  backend/src/main/java/kr/co/yigil/global/config/RedisConfig.java
  backend/src/main/java/kr/co/yigil/global/exception/AsyncExceptionHandler.java
  backend/src/main/java/kr/co/yigil/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/co/yigil/global/log/LoggingForm.java
  backend/src/main/java/kr/co/yigil/global/log/MdcPref.java
  backend/src/main/java/kr/co/yigil/global/log/decorator/MdcDecorator.java
  backend/src/main/java/kr/co/yigil/global/log/filter/MdcLoggingFilter.java
  backend/src/main/java/kr/co/yigil/login/application/LoginArgumentResolver.java
  backend/src/main/java/kr/co/yigil/login/application/strategy/KakaoLoginStrategy.java
  backend/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🛠️Fix, 🛜Backend

#102 P6spy 를 사용한 쿼리 로깅 및 성능 측정
  .github/ISSUE_TEMPLATE/yigil-issue-template.md
  .github/pull_request_template.md
  .github/workflows/CD.yml
  .github/workflows/ci.yml
  backend/.idea/.gitignore
  backend/.idea/.name
  backend/.idea/compiler.xml
  backend/.idea/inspectionProfiles/Project_Default.xml
  backend/.idea/jarRepositories.xml
  backend/.idea/kotlinc.xml
  backend/.idea/misc.xml
  backend/.idea/modules.xml
  backend/.idea/modules/yigil.main.iml
  backend/.idea/sqldialects.xml
  backend/.idea/vcs.xml
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/global/config/P6SpyConfig.java
  backend/src/main/java/kr/co/yigil/global/log/LoggingForm.java
  backend/src/main/java/kr/co/yigil/global/log/aspect/QueryCounterAspect.java
  backend/src/main/java/kr/co/yigil/global/log/interceptor/ConnectionProxyHandler.java
  backend/src/main/java/kr/co/yigil/global/log/interceptor/PreparedStatementProxyHandler.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/spy.properties
Labels: ⭐️Feat, 🛜Backend

#112 사용자 팔로우 리스트 조회를 위한 api 및 redis 데이터 동기화 로직 작성
  backend/src/main/java/kr/co/yigil/follow/application/FollowRedisIntegrityService.java
  backend/src/main/java/kr/co/yigil/follow/application/FollowService.java
  backend/src/main/java/kr/co/yigil/follow/domain/repository/FollowRepository.java
  backend/src/main/java/kr/co/yigil/follow/dto/FollowCountDto.java
  backend/src/main/java/kr/co/yigil/global/config/JasyptConfig.java
  backend/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/src/main/java/kr/co/yigil/member/dto/response/MemberFollowerListResponse.java
  backend/src/main/java/kr/co/yigil/member/dto/response/MemberFollowingListResponse.java
  backend/src/main/java/kr/co/yigil/member/dto/response/MemberInfoResponse.java
  backend/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/src/test/java/kr/co/yigil/follow/application/FollowRedisIntegrityServiceTest.java
  backend/src/test/java/kr/co/yigil/follow/application/FollowServiceTest.java
  backend/src/test/java/kr/co/yigil/follow/domain/FollowCountTest.java
  backend/src/test/java/kr/co/yigil/follow/domain/FollowTest.java
  backend/src/test/java/kr/co/yigil/follow/domain/repository/FollowCountRedisRepositoryTest.java
  backend/src/test/java/kr/co/yigil/global/config/AsyncConfigTest.java
  backend/src/test/java/kr/co/yigil/global/config/JasyptConfigTest.java
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
  backend/src/test/java/kr/co/yigil/member/presentation/MemberControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#111 내비게이션 구현
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/add.svg
  frontend/public/icons/heart.svg
  frontend/public/icons/home.svg
  frontend/public/icons/location.svg
  frontend/public/icons/mypage.svg
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/ui/HeaderIcons.tsx
  frontend/src/app/_components/header/ui/HeaderLogo.tsx
  frontend/src/app/_components/navigation/NavigationBar.tsx
  frontend/src/app/_components/navigation/NavigationIcon.tsx
  frontend/src/app/_components/navigation/constants.ts
  frontend/src/app/_components/navigation/index.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/types/type.d.ts
  frontend/tailwind.config.ts
Labels: ⭐️Feat, 💻Frontend

#115 Migration redis template to redis repository
  .github/ISSUE_TEMPLATE/이길어때-이슈-템플릿⭐️.md
  .github/pull_request_template.md
  .github/workflows/CD.yml
  .github/workflows/ci.yml
  .github/workflows/gradle.yml
  backend/build.gradle
  backend/src/main/java/kr/co/yigil/follow/application/FollowRedisIntegrityService.java
  backend/src/main/java/kr/co/yigil/follow/domain/repository/FollowCountRepository.java
  backend/src/main/java/kr/co/yigil/follow/domain/repository/FollowRepository.java
  backend/src/main/java/kr/co/yigil/follow/dto/FollowCountDto.java
  backend/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/src/main/java/kr/co/yigil/test/testController.java
  backend/src/test/java/kr/co/yigil/follow/application/FollowRedisIntegrityServiceTest.java
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
Labels: 🛠️Fix, 🛜Backend, 🧹Chore

#119 add example code for completable-future to get result of async task
  backend/src/main/java/kr/co/yigil/file/FileUploadEventListener.java
  backend/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
Labels: 🛜Backend, 🧹Chore
