Repository Kernel360/f1-Yigil, pull requests merged in 2024-02, with the labels that each got.

#211 리뷰 컴포넌트
  frontend/public/icons/star.svg
  frontend/src/app/_components/add/common/PostRating.tsx
  frontend/src/app/_components/add/common/PostReview.tsx
Labels: ⭐️Feat, 💻Frontend

#209 별점 추가 컴포넌트
  frontend/src/app/_components/search/SearchBar.tsx
  frontend/src/app/_components/search/SearchHistory.tsx
Labels: ⭐️Feat, 💻Frontend

#214 안내 문구 컴포넌트 구현
  frontend/src/app/_components/add/common/InfoTitle.tsx
Labels: ⭐️Feat, 💻Frontend

#223 백엔드 리팩토링 과정에서 유실된 코드 복원
  frontend/src/app/_components/post/Post.tsx
  frontend/src/app/_components/post/PostList.tsx
Labels: 🛠️Fix, 👍Refactor, 💻Frontend

#220 일정 / 코스 추가 완료 안내 컴포넌트 구현
  frontend/src/app/(with-header)/add/[slug]/confirm/page.tsx
  frontend/src/app/_components/add/common/AddConfirmContent.tsx
  frontend/src/app/_components/add/common/InfoTitle.tsx
Labels: ⭐️Feat, 💻Frontend

#222 어드민 로그인 기능 구현
  .github/.DS_Store
  .github/ISSUE_TEMPLATE/이길어때-이슈-템플릿⭐️.md
  .github/workflows/cr.yml
  .gitignore
  admin-frontend/yigil-admin/.gitignore
  admin-frontend/yigil-admin/package-lock.json
  admin-frontend/yigil-admin/package.json
  admin-frontend/yigil-admin/src/assets/logo.svg
  admin-frontend/yigil-admin/src/components/HomePage.tsx
  admin-frontend/yigil-admin/src/components/Layout.tsx
  admin-frontend/yigil-admin/src/components/LoginPage.tsx
  admin-frontend/yigil-admin/src/components/snippet/Header.tsx
  admin-frontend/yigil-admin/src/components/snippet/UserInfo.tsx
  admin-frontend/yigil-admin/src/components/snippet/withAuthProtection.tsx
  admin-frontend/yigil-admin/src/components/ui/avatar.tsx
  admin-frontend/yigil-admin/src/components/ui/navigation-menu.tsx
  admin-frontend/yigil-admin/src/components/ui/popover.tsx
  admin-frontend/yigil-admin/src/vite-env.d.ts
  admin-frontend/yigil-admin/tsconfig.json
  admin-frontend/yigil-admin/vite.config.ts
  backend/.gitignore
  backend/yigil-admin/build.gradle
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/application/AdminService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/Admin.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/AdminSignUp.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/repository/AdminRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/repository/AdminSignUpRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/dto/request/AdminSingupRequest.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/dto/request/LoginRequest.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/dto/response/AdminInfoResponse.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/dto/response/AdminSignupResponse.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/presentation/AdminController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/auth/application/CustomAuthenticationProvider.java
  backend/yigil-admin/src/main/java/kr/co/yigil/auth/application/CustomUserDetailsService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/auth/application/JwtTokenProvider.java
  backend/yigil-admin/src/main/java/kr/co/yigil/auth/application/PasswordService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/auth/dto/JwtToken.java
  backend/yigil-admin/src/main/java/kr/co/yigil/auth/filter/JwtAuthenticationFilter.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/PasswordEncoderConfig.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/exception/AuthException.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/exception/BadRequestException.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/exception/InvalidTokenException.java
  backend/yigil-admin/src/test/java/kr/co/yigil/AdminApplicationTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/admin/application/AdminServiceTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/admin/presentation/AdminControllerTest.java
  frontend/.dockerignore
  frontend/Dockerfile 2
  frontend/app 2.json
Labels: ⭐️Feat, 🛜Backend, 💻Frontend

#225 Home FAB 기능 추가 및 포탈 추가
  frontend/__tests__/PopOverItem.test.tsx
  frontend/public/icons/bell.svg
  frontend/public/icons/calendar.svg
  frontend/public/icons/plus.svg
  frontend/src/app/_components/FloatingActionButton.tsx
  frontend/src/app/_components/Portal.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/header/constants.ts
  frontend/src/app/_components/ui/popover/PopOver.tsx
  frontend/src/app/_components/ui/popover/PopOverItem.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/app/_components/ui/popover/types.ts
  frontend/src/app/layout.tsx
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#228 Delete frontend/Dockerfile 2
  frontend/Dockerfile 2
Labels: 📕Docs, 💻Frontend

#229 Delete frontend/app 2.json
  frontend/app 2.json
Labels: 📕Docs, 💻Frontend

#230 FAB 구조 변경 및 pop over data icon 타입 변경
  frontend/public/icons/trash.svg
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/_components/FloatingActionButton.tsx
  frontend/src/app/_components/ui/popover/PopOverItem.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/app/_components/ui/popover/types.ts
Labels: 🛠️Fix, 💻Frontend

#231 style: pop over 디자인 변경에 따른 gap 사이즈 변경
  frontend/src/app/_components/ui/popover/PopOver.tsx
Labels: 💻Frontend, 🎨style

#234 146 페이징 기능 추가
  .gitignore
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/CourseRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/application/CommentService.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/domain/repository/CommentRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/presentation/CommentController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/SpotUpdateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseInfoResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotInCourseDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotInfoResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/CourseController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/SpotController.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/presentation/CommentControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/CourseControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/SpotControllerTest.java
Labels: ⭐️Feat, ✅Test, 🛜Backend

#237 api 요청 로직 작성
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#238 장소/코스 추가 단계 탐색 UI 작성
  frontend/__tests__/stateTransition.test.ts
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/add/common/step/constants.ts
  frontend/src/app/_components/add/common/step/index.ts
  frontend/src/app/_components/add/common/step/types/dataInput.ts
  frontend/src/app/_components/add/common/step/types/index.ts
  frontend/src/app/_components/add/common/step/types/makingStep.ts
Labels: ⭐️Feat, ✅Test, 💻Frontend

#239 Member 도메인 수정 및 Follow Service 수정
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/application/FollowService.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/dto/response/FollowerFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/dto/response/FollowingFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
Labels: 🛠️Fix, 👍Refactor, 🛜Backend

#240 Member 도메인 수정 및 Follow Service 수정
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/application/FollowService.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/dto/response/FollowerFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/dto/response/FollowingFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
Labels: 🛠️Fix, 👍Refactor, 🛜Backend

#244 도메인 수정에 맞춰 테스트 코드 수정
  backend/support/domain/src/main/java/kr/co/yigil/place/Place.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Course.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Spot.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/CourseUpdateRequest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/TravelServiceTest.java
Labels: ✅Test, 🛜Backend

#241 이미지 입력 컴포넌트
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/image.svg
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImageInput.tsx
  frontend/src/app/_components/images/ImageItem.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/images/SortableItem.tsx
  frontend/src/app/_components/images/index.ts
Labels: ⭐️Feat, 💻Frontend

#243 진행 표시줄 작성
  frontend/src/app/_components/add/common/ProgressIndicator.tsx
  frontend/src/app/_components/add/common/step/constants.ts
  frontend/src/app/_components/add/common/step/index.ts
  frontend/src/app/_components/add/common/step/types/dataInput.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#242 place 도메인 관련 기능 변경 및 추가
  backend/support/domain/src/main/java/kr/co/yigil/file/AttachFiles.java
  backend/support/domain/src/main/java/kr/co/yigil/place/Place.java
  backend/support/domain/src/main/java/kr/co/yigil/place/repository/PlaceRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Course.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Spot.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Travel.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/CourseRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/application/CommentService.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/domain/CommentCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/application/FollowService.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/presentation/testController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/request/PlaceDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/response/PlaceFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/response/PlaceInfoResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/response/PlaceMapStaticImageResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/response/RateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/presentation/PlaceController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/SpotCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/repository/SpotCountRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/CourseCreateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/CourseUpdateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/SpotCreateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/SpotUpdateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseInfoResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotInfoResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotListResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/CourseController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/SpotController.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/presentation/PlaceControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/TravelServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/SpotControllerTest.java
Labels: ⭐️Feat, 🛠️Fix, 🛜Backend

#245 Update ci.yml
  .github/workflows/ci.yml
Labels: 🛠️Fix, 🏗️Infra

#248 장소/코스 추가 단계 탐색 UI에서 올바르지 않은 버튼 상태 수정
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
Labels: 🛠️Fix, 💻Frontend

#254 장소 추가 지도 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/add/common/AddSpotMap.tsx
  frontend/src/app/_components/naver-map/MapComponent.tsx
  frontend/src/app/_components/naver-map/hooks/getArea.ts
  frontend/src/app/_components/naver-map/hooks/getCoords.ts
  frontend/src/app/layout.tsx
  frontend/src/context/NaverContext.tsx
  frontend/src/types/type.d.ts
  frontend/tsconfig.json
Labels: ⭐️Feat, 💻Frontend

#255 장소 추가 플로우 구현 (1)
  frontend/package.json
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/add/[slug]/page.tsx
  frontend/src/app/_components/IconWithCounts.tsx
  frontend/src/app/_components/add/AddSpot.tsx
  frontend/src/app/_components/add/common/AddPlaceInto.tsx
  frontend/src/app/_components/add/common/PostRating.tsx
  frontend/src/app/_components/add/common/PostReview.tsx
  frontend/src/app/_components/add/common/SpotCheck.tsx
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/add/common/step/types/dataInput.ts
  frontend/src/app/_components/add/common/step/types/makingStep.ts
  frontend/src/app/_components/add/spot/SpotContext.tsx
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/naver-map/MapComponent.tsx
  frontend/src/app/_components/naver-map/hooks/getArea.ts
  frontend/src/app/_components/naver-map/hooks/getCoords.ts
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/search/SearchBar.tsx
  frontend/src/app/_components/search/SearchBox.tsx
  frontend/src/app/_components/search/SearchHistory.tsx
  frontend/src/app/_components/search/SearchResult.tsx
  frontend/src/app/_components/ui/dialog/Dialog.tsx
  frontend/src/app/endpoints/api/coords/route.ts
  frontend/src/app/endpoints/api/placeId/route.ts
  frontend/src/app/endpoints/api/search/route.ts
  frontend/src/app/mygil/page.tsx
  frontend/src/types/type.d.ts
Labels: ⭐️Feat, 💻Frontend

#252 place response 요구사항에 맞게 수정
  backend/support/domain/src/main/java/kr/co/yigil/place/Place.java
  backend/support/domain/src/main/java/kr/co/yigil/place/repository/PlaceRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Course.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Spot.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/Travel.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/CourseRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/SpotRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/repository/TravelRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/presentation/MemberController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceRateRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceRate.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/repository/PlaceRateRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/request/PlaceDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/response/PlaceFindDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/dto/response/PlaceInfoResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/presentation/PlaceController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/TravelService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/SpotCreateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/PrivateUpdateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/CourseController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/TravelController.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/application/FollowServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/CourseControllerTest.java
Labels: 🛜Backend

#258 마이 페이지 추가 및 배포용 url 추가
  frontend/__tests__/MyPageMyPlace.test.tsx
  frontend/public/icons/lock.svg
  frontend/public/icons/map-pin.svg
  frontend/public/icons/unlock.svg
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/(mypage)/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/favorite/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/course/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/follow/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/follower/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/spot/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/page.tsx
  frontend/src/app/_components/add/AddSpot.tsx
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/header/constants.ts
  frontend/src/app/_components/mypage/MyPageContent.tsx
  frontend/src/app/_components/mypage/MyPageInfo.tsx
  frontend/src/app/_components/mypage/MyPagePlaceItem.tsx
  frontend/src/app/_components/mypage/MyPagePlaceList.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/MyPlace.tsx
  frontend/src/app/_components/mypage/StoredPlace.tsx
  frontend/src/app/_components/mypage/constants.ts
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/useMyPage.ts
  frontend/src/app/_components/mypage/routeTabs/MyPagePlace.tsx
  frontend/src/app/_components/mypage/routeTabs/MyPageRoutes.tsx
  frontend/src/app/_components/mypage/routeTabs/MyPageTabs.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/search/SearchResult.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/app/endpoints/api/member/route.ts
  frontend/src/app/endpoints/api/placeId/route.ts
  frontend/src/app/endpoints/api/spot/route.ts
  frontend/src/mocks/api/data/myPlaceData.ts
  frontend/src/mocks/api/myPlace.ts
  frontend/tailwind.config.ts
Labels: ⭐️Feat, 💻Frontend

#257 테스트 코드 추가
  backend/support/domain/src/main/java/kr/co/yigil/travel/Spot.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CoursePrivateResponse.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
Labels: ✅Test, 🛜Backend

#264 FAB 및 PopOver 수정
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/_components/FloatingActionButton.tsx
  frontend/src/app/_components/ui/popover/PopOver.tsx
  frontend/src/app/_components/ui/popover/PopOverItem.tsx
Labels: 🛠️Fix, 👍Refactor, 💻Frontend

#262 장소 추가 플로우 코드 수정
  frontend/src/app/_components/add/AddSpot.tsx
  frontend/src/app/_components/add/common/AddPlaceInto.tsx
  frontend/src/app/_components/add/common/AddSpotMap.tsx
  frontend/src/app/_components/add/common/PostRating.tsx
  frontend/src/app/_components/add/common/PostReview.tsx
  frontend/src/app/_components/add/common/index.ts
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/images/SortableItem.tsx
  frontend/src/app/_components/images/index.ts
  frontend/src/app/_components/naver-map/plusMarker.ts
  frontend/src/app/_components/search/SearchBar.tsx
  frontend/src/app/_components/search/SearchBox.tsx
  frontend/src/app/_components/search/SearchResult.tsx
Labels: ⭐️Feat, 🛠️Fix, 👍Refactor, 💻Frontend, 📝Rename

#261 Http request 로직 수정
  frontend/__tests__/MyPageMyPlace.test.tsx
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
  frontend/src/app/endpoints/api/member/route.ts
Labels: 🛠️Fix, 👍Refactor, 💻Frontend

#270 http request 함수 이름 수정에 따른 코드 수정
  frontend/src/app/(with-header)/(mypage)/mypage/layout.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
Labels: 🛠️Fix, 💻Frontend

#269 장소 상세 페이지 작성 - 1
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/chevron-left.svg
  frontend/public/icons/review.svg
  frontend/public/mockServiceWorker.js
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/(with-header)/place/[id]/@reviews/page.tsx
  frontend/src/app/(with-header)/place/[id]/layout.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/_components/IconWithCounts.tsx
  frontend/src/app/_components/place/BackButton.tsx
  frontend/src/app/_components/place/LikeButton.tsx
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/PlaceDetail.tsx
  frontend/src/app/_components/place/PlaceList.tsx
  frontend/src/app/_components/place/constants.ts
  frontend/src/app/_components/place/types.ts
  frontend/src/app/layout.tsx
  frontend/src/context/NaverContext.tsx
  frontend/src/mocks/api/data/placeData.ts
  frontend/src/mocks/api/place.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/response.ts
  frontend/src/types/type.d.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#272 fix: 사용하지 않는 파일 삭제
  frontend/src/app/(with-header)/(mypage)/mypage/my/spot/page.tsx
  frontend/src/app/_components/mypage/hooks/useMyPage.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
Labels: 🛠️Fix, 💻Frontend

#275 Middleware를 통해 접근 제한 설정
  frontend/src/middleware.ts
Labels: ⭐️Feat, 💻Frontend

#274 장소 추가 플로우에 서버 액션 적용
  frontend/__tests__/NavigationIcon.test.tsx
  frontend/__tests__/stateTransition.test.ts
  frontend/src/app/_components/add/AddSpot.tsx
  frontend/src/app/_components/add/common/AddPlaceInfo.tsx
  frontend/src/app/_components/add/common/AddSpotMap.tsx
  frontend/src/app/_components/add/common/SpotCheck.tsx
  frontend/src/app/_components/add/common/action.ts
  frontend/src/app/_components/add/common/index.ts
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/naver-map/hooks/getArea.ts
  frontend/src/app/_components/naver-map/hooks/getCoords.ts
  frontend/src/app/_components/navigation/NavigationBar.tsx
  frontend/src/app/_components/navigation/NavigationIcon.tsx
  frontend/src/app/_components/navigation/constants.ts
  frontend/src/app/_components/navigation/index.ts
  frontend/src/app/_components/regions/RegionIcon.tsx
  frontend/src/app/_components/regions/RegionLinks.tsx
  frontend/src/app/_components/regions/constants.ts
  frontend/src/app/_components/regions/index.ts
  frontend/src/app/_components/search/SearchResult.tsx
  frontend/src/app/_components/search/action.ts
  frontend/src/app/endpoints/api/coords/route.ts
  frontend/src/app/endpoints/api/placeId/route.ts
  frontend/src/app/endpoints/api/search/route.ts
  frontend/src/app/endpoints/api/spot/route.ts
  frontend/src/mocks/api/placeStaticImage.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/response.ts
  frontend/src/utils.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#277 Next.js의 프로덕션 빌드에서 사용이 권장되는 이미지 로더 추가
  frontend/package-lock.json
  frontend/package.json
Labels: 💻Frontend, 🧹Chore

#278 마이페이지 기록의 장소
  frontend/public/icons/hamburger.svg
  frontend/public/icons/lock-white.svg
  frontend/public/icons/lock.svg
  frontend/public/icons/unlock.svg
  frontend/src/app/(with-header)/(mypage)/mypage/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/bookmark/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/spot/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/spot/page.tsx
  frontend/src/app/(with-header)/layout.tsx
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/mypage/MyPageInfo.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/Pagination.tsx
  frontend/src/app/_components/mypage/constants.ts
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/routeTabs/MyPagePlace.tsx
  frontend/src/app/_components/mypage/routeTabs/MyPageRoutes.tsx
  frontend/src/app/_components/mypage/routeTabs/MyPageTabs.tsx
  frontend/src/app/_components/mypage/routeTabs/MyPageTravel.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/mypage/types.ts
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/mocks/api/data/myPageData.ts
  frontend/src/mocks/api/data/myPlaceData.ts
  frontend/src/mocks/api/myPage.ts
  frontend/src/mocks/api/myPlace.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/myPageResponse.ts
Labels: ⭐️Feat, 💻Frontend

#285 hotfix: 로그인 후 헤더 레이아웃에서 api 호출 시 에러 나는 현상 수정
  frontend/src/app/(with-header)/layout.tsx
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
  frontend/src/mocks/api/myPage.ts
Labels: 🛠️Fix, 💻Frontend, 🐞BUG

#286 Spring Rest Docs 적용 및 예시 코드 첨부
  backend/yigil-api/src/docs/asciidoc/index.adoc
  backend/yigil-api/src/docs/asciidoc/spot-api.adoc
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/SpotApiController.java
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: ⭐️Feat, 📕Docs, 🛜Backend

#283 마이 페이지에 존재하는 select를 기반으로 select 컴포넌트 작성
  frontend/__tests__/Select.test.tsx
  frontend/public/icons/chevron-down.svg
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/ui/select/Select.tsx
  frontend/src/app/_components/ui/select/SelectOption.tsx
Labels: ⭐️Feat, ✅Test, 💻Frontend

#290 style: 자연스러운 렌더링을 위해 애니메이션 추가
  frontend/src/app/_components/header/HeaderClient.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style

#291 fix: 장소 추가 후 마이페이지 이동 클릭 시 이동되는 url 변경
  frontend/src/app/_components/add/common/AddConfirmContent.tsx
Labels: 🛠️Fix, 💻Frontend

#298 스팟 추가 UI와 백엔드 API 연결
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/spot/page.tsx
  frontend/src/app/_components/add/common/AddSpotMap.tsx
  frontend/src/app/_components/add/common/action.ts
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
  frontend/src/types/response.ts
  frontend/src/types/type.d.ts
  frontend/src/utils.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#300 잘못 들어간 search param 구분자 제거
  frontend/src/app/_components/api/httpRequest.ts
Labels: 🛠️Fix, 💻Frontend

#303 hotfix: member cdn profile image address 수정
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
Labels: 🛠️Fix, 🛜Backend

#306 hotfix member cdn 수정
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
Labels: 🛠️Fix, 🛜Backend

#311 마이페이지 장소 수정 및 코스 작업 추가
  frontend/public/icons/filled-map-pin.svg
  frontend/public/icons/map-pin.svg
  frontend/public/mockServiceWorker.js
  frontend/src/app/(with-header)/(mypage)/mypage/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/spot/page.tsx
  frontend/src/app/(with-header)/layout.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/mypage/types.ts
  frontend/src/mocks/api/data/myPlaceData.ts
  frontend/src/mocks/api/myPage.ts
  frontend/src/mocks/api/myPlace.ts
  frontend/src/types/myPageResponse.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#314 장소 목록 정상화
  frontend/next.config.js
  frontend/public/icons/bookmark.svg
  frontend/src/app/(with-header)/(home)/action.ts
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/_components/add/common/AddSpotMap.tsx
  frontend/src/app/_components/place/BookmarkButton.tsx
  frontend/src/app/_components/place/LikeButton.tsx
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/PlaceDetail.tsx
  frontend/src/app/_components/place/PlaceList.tsx
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
  frontend/src/types/response.ts
  frontend/src/types/type.d.ts
  frontend/src/utils.ts
Labels: 🛠️Fix, 💻Frontend

#317 style: 버튼 비활성화시에도 보이는 문제 해결
  frontend/src/app/_components/mypage/Pagination.tsx
Labels: 💻Frontend, 🎨style

#324 서버 통신 정상화
  frontend/Dockerfile
  frontend/next.config.js
  frontend/src/app/(with-header)/(home)/action.ts
  frontend/src/app/(with-header)/(mypage)/mypage/my/bookmark/page 2.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page 2.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/layout 2.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/spot/page 2.tsx
  frontend/src/app/(with-header)/place/[id]/layout 2.tsx
  frontend/src/app/(with-header)/place/[id]/page 2.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/PlaceDetail.tsx
  frontend/src/app/_components/ui/button/Kakao.tsx
  frontend/src/app/endpoints/api/auth/callback/kakao/constants.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/app/endpoints/api/auth/nextauth/route.ts
  frontend/src/middleware.ts
  frontend/src/mocks/api/data/placeData.ts
  frontend/src/types/response.ts
  frontend/src/types/type.d.ts
Labels: 🛠️Fix, 💻Frontend

#327 로그아웃 기능 복구
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/api/action.ts
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/ui/button/GoogleLoginButton.tsx
  frontend/src/app/_components/ui/button/Kakao.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/app/endpoints/api/auth/nextauth/route.ts
  frontend/src/app/layout.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/types/type.d.ts
Labels: 🛠️Fix, 💻Frontend

#328 fix: button 자체를 조건부 렌더링 하니 페이지 번호들의 레이아웃 쉬프트 현상으로 코드 수정
  frontend/src/app/_components/mypage/Pagination.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style

#326 style: 마이 페이지 스팟의 스타일 변경
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style
