Repository Kernel360/f1-Yigil, pull requests merged in 2024-03, with the labels that each got.

#329 접근 제한 복구
  frontend/src/middleware.ts
  frontend/src/types/response.ts
Labels: 🛠️Fix, 💻Frontend

#332 빌드 깨짐 수정
  frontend/.eslintrc.json
  frontend/src/app/(with-header)/(home)/action.ts
  frontend/src/app/_components/add/common/AddSpotMap.tsx
  frontend/src/app/_components/add/common/action.ts
  frontend/src/app/_components/images/ImageItem.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/mypage/Pagination.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/ui/select/Select.tsx
  frontend/src/middleware.ts
  frontend/src/mocks/api/data/placeData.ts
Labels: 🛠️Fix, 💻Frontend

#335 fix: 구글 폼 설문지 위치 수정
  frontend/public/icons/info.svg
  frontend/src/app/(with-header)/(home)/HomeNavigation.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
Labels: 🛠️Fix, 💻Frontend

#338 style: mypage select 스타일 수정
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/ui/select/Select.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style

#337 마이페이지 코스
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/mocks/api/myPlace.ts
Labels: ⭐️Feat, 💻Frontend

#339 fix: 페이지네이션 렌더링 여부 수정
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
Labels: 🛠️Fix, 💻Frontend

#340 fix: date hydration 에러 수정을 위한 전체적인 zod 타입 수정
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/spot/page.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/mypage/types.ts
  frontend/src/types/myPageResponse.ts
Labels: 🛠️Fix, 💻Frontend, 🐞BUG

#344 장소 추가 시 지도 이미지가 올바르게 뜨지 않던 문제 해결
  frontend/src/app/_components/add/common/action.ts
Labels: 🛠️Fix, 💻Frontend

#349 장소 추가 시 지도에서 장소를 선택하지 않아도 다음으로 넘어갈 수 있던 현상 수정
  frontend/src/app/_components/add/AddSpot.tsx
Labels: 🛠️Fix, 💻Frontend

#355 hotfix : membr profile 이미지가 잘못 전달되는 문제
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
Labels: 🛠️Fix, 🛜Backend, 🐞BUG

#358 357 인기 장소 선정을 위한 배치 프로세스 추가
  backend/place-region-batch/src/main/java/kr/co/yigil/BatchApplication.java
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/PopularPlaceJobConfig.java
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/UpdateRegionJobConfig.java
  backend/support/domain/src/main/java/kr/co/yigil/place/domain/PopularPlace.java
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PopularPlaceRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
Labels: ⭐️Feat, 🛜Backend

#359 Hotfix type
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/mocks/api/data/myPlaceData.ts
  frontend/src/types/response.ts
Labels: 🛠️Fix, 💻Frontend

#362 Ci cd 수정
  .github/workflows/dev-backend-cd.yml
  .github/workflows/dev-backend-ci.yml
  .github/workflows/prod-backend-cd.yml
Labels: 🛠️Fix, 🛜Backend, 🏗️Infra

#361 Notice 기능 작성
  backend/support/domain/src/main/java/kr/co/yigil/notice/domain/Notice.java
  backend/support/domain/src/main/java/kr/co/yigil/notice/infrastructure/NoticeRepository.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/notice/interfaces/dto/mapper/NoticeMapperImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/application/NoticeFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeCommand.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeStore.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/infrastructure/NoticeReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/infrastructure/NoticeStoreImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/controller/NoticeApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/dto/NoticeDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/dto/mapper/NoticeMapper.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/application/NoticeFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/domain/NoticeServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/infrastructure/NoticeReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/infrastructure/NoticeStoreImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/interfaces/controller/NoticeApiControllerTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/interfaces/controller/FollowApiController.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/interfaces/controller/MemberApiControllerTest.java
Labels: ⭐️Feat, ✅Test, 🛜Backend

#364 hotifx: member region update가 안되는 문제 해결
  backend/place-region-batch/src/main/resources/application.yml
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberServiceImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/domain/MemberServiceImplTest.java
Labels: 🛠️Fix, 🛜Backend

#366 365 주변 장소 검색을 위한 api 작성
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PlaceRepository.java
  backend/yigil-api/src/docs/asciidoc/place-api.adoc
  backend/yigil-api/src/main/generated/kr/co/yigil/follow/interfaces/dto/FollowDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/PlaceCoordinateDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/request/NearPlaceRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/response/NearPlaceResponse.java
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#367 Ci cd 수정
  .github/workflows/dev-backend-cd.yml
  .github/workflows/prod-backend-cd.yml
Labels: 🛠️Fix, 🛜Backend, 🏗️Infra

#374 장소 상세 화면의 '나의 기록' UI 작업
  frontend/public/icons/chevron-down 2.svg
  frontend/public/icons/chevron-left 2.svg
  frontend/public/icons/chevron-right 2.svg
  frontend/public/icons/hamburger 2.svg
  frontend/public/icons/lock-white 2.svg
  frontend/public/icons/star.svg
  frontend/src/app/(with-header)/place/[id]/layout.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/(with-header)/place/action.ts
  frontend/src/app/_components/place/MySpot.tsx
  frontend/src/app/_components/place/PlaceDetail.tsx
  frontend/src/app/_components/place/PlaceMySpot.tsx
  frontend/src/app/_components/ui/carousel/ImageCarousel.tsx
  frontend/src/types/response.ts
Labels: ⭐️Feat, 💻Frontend

#379 Feat google login
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/layout.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/mypage/hooks/authenticateUser.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/ui/button/GoogleLoginButton.tsx
  frontend/src/app/endpoints/api/auth/callback/google/constants.ts
  frontend/src/app/endpoints/api/auth/callback/google/route.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/middleware.ts
Labels: ⭐️Feat, 💻Frontend

#384 Update dev-frontend-cd.yml
  .github/workflows/dev-frontend-cd.yml
Labels: 💻Frontend

#381 hotfix: 빌드 중에 에러난 route의 로그인 함수와 TMyInfo 타입 수정
  frontend/src/app/_components/api/action.ts
  frontend/src/app/endpoints/api/auth/callback/google/route.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/types/response.ts
Labels: 🛠️Fix, 💻Frontend

#386 sorting 관련 쿼리 파라미터에 enum을 적용하였습니다.
  backend/support/domain/build.gradle
  backend/support/domain/src/main/java/kr/co/yigil/global/Selected.java
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/support/domain/src/main/java/kr/co/yigil/global/SortOrder.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToSelectedConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToSortByConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToSortOrderConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/CourseQueryDslRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotQueryDslRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/interfaces/controller/CommentApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/interfaces/controller/FollowApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/TravelServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/SpotApiController.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 👍Refactor, ✅Test, 🛜Backend

#389 Refactor/enum sort query parameters를 string에서 enum으로 변경
  backend/support/domain/build.gradle
  backend/support/domain/src/main/java/kr/co/yigil/global/Selected.java
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/support/domain/src/main/java/kr/co/yigil/global/SortOrder.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToSelectedConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToSortByConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToSortOrderConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/CourseQueryDslRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotQueryDslRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/interfaces/controller/CommentApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/interfaces/controller/FollowApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/TravelServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/SpotApiController.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 👍Refactor, ✅Test, 🛜Backend

#383 성별,나이대 별 인기 장소 선별 및 조회 기능
  backend/place-region-batch/src/main/java/kr/co/yigil/BatchApplication.java
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/DemographicPlaceJobConfig.java
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/PopularPlaceJobConfig.java
  backend/support/domain/src/main/java/kr/co/yigil/place/domain/DemographicPlace.java
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/DemographicPlaceRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#393 390 홈화면 더보기를 위한 api 생성
  backend/place-region-batch/src/main/java/kr/co/yigil/BatchApplication.java
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PlaceRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PopularPlaceRepository.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/admin/domain/admin/QAdmin.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/admin/domain/adminSignUp/QAdminSignUp.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/admin/interfaces/dto/mapper/AdminMapperImpl.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/admin/interfaces/dto/mapper/AdminSignupMapperImpl.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/file/domain/QAdminAttachFile.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/notice/interfaces/dto/mapper/NoticeMapperImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/interfaces/controller/AdminApiController.java
  backend/yigil-api/src/docs/asciidoc/place-api.adoc
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PopularPlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PopularPlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/SpotInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapper.java
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PopularPlaceReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#395 394 hotfix missing method
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
Labels: 🛠️Fix, 🛜Backend

#391 장소 목록 더보기 화면 작성
  frontend/public/images/placeholder.png
  frontend/src/app/(with-header)/(home)/HomeNavigation.tsx
  frontend/src/app/(with-header)/(home)/action.ts
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/(with-header)/(home)/places/popular/page.tsx
  frontend/src/app/(with-header)/(home)/places/regions/page.tsx
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/PlaceList.tsx
  frontend/src/app/_components/place/Places.tsx
  frontend/src/app/_components/place/PopularPlaces.tsx
  frontend/src/app/_components/place/RegionPlaces.tsx
  frontend/src/app/_components/place/RegionSelect.tsx
  frontend/src/app/_components/place/dummy/DummyPlace.tsx
  frontend/src/app/_components/place/dummy/DummyPlaces.tsx
  frontend/src/app/_components/place/index.ts
  frontend/src/app/utilActions.ts
  frontend/src/types/response.ts
Labels: ⭐️Feat, 💻Frontend

#400 Update README.md
  README.md
Labels: 💻Frontend

#402 Update dev-frontend-cd.yml
  .github/workflows/dev-frontend-cd.yml
Labels: 💻Frontend

#397 refactor : admin 프로필이미지 필드 수정
  backend/support/domain/src/main/java/kr/co/yigil/admin/domain/Admin.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/admin/AdminInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/admin/AdminServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/adminSignUp/AdminSignUpServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/file/domain/FileUploadEvent.java
  backend/yigil-admin/src/main/java/kr/co/yigil/file/infrastructure/FileUploaderImpl.java
  backend/yigil-admin/src/test/java/kr/co/yigil/admin/domain/admin/AdminServiceImplTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/file/FileUploadEvent.java
  backend/yigil-api/src/main/java/kr/co/yigil/file/infrastructure/FileUploaderImpl.java
Labels: 👍Refactor, 🛜Backend

#406 392 admin notice 수정 hotfix: 공지사항의 관리자 profile url 얻어오는 방식 변경
  backend/support/domain/src/main/java/kr/co/yigil/notice/domain/Notice.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeInfo.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/domain/NoticeServiceImplTest.java
Labels: 🛠️Fix, 🛜Backend

#413 관심 지역 더보기 화면이 올바르게 뜨지 않던 오류 수정
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/(with-header)/(home)/places/regions/[id]/page.tsx
  frontend/src/app/_components/place/Places.tsx
  frontend/src/app/_components/place/PopularPlaces.tsx
  frontend/src/app/_components/place/RegionPlaces.tsx
  frontend/src/app/_components/place/RegionSelect.tsx
Labels: 🛠️Fix, 💻Frontend

#418 412 장소 내 spot 조회 api에 사용자 좋아요 여부를 응답 필드에 추가
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/yigil-api/src/docs/asciidoc/place-api.adoc
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/interfaces/controller/CommentApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/SpotApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/SpotInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapper.java
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 🛜Backend

#420 feat: 검색어 추천 기능 API 추가
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PlaceRepository.java
  backend/yigil-api/src/docs/asciidoc/place-api.adoc
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/response/PlaceKeywordResponse.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#419 `ENVIRONMENT` 환경변수 제거 및 `getBaseUrl` 사용 통일
  frontend/src/app/(with-header)/(home)/action.ts
  frontend/src/app/(with-header)/place/action.ts
  frontend/src/app/_components/add/common/action.ts
  frontend/src/app/_components/api/action.ts
  frontend/src/app/_components/mypage/hooks/authenticateUser.ts
  frontend/src/app/endpoints/api/auth/callback/google/route.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/constants.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/app/utilActions.ts
  frontend/src/middleware.ts
  frontend/src/types/type.d.ts
Labels: 👍Refactor, 💻Frontend

#426 hotfix: sortby 카멜 케이스 스네이크 케이스 관련 변경사항 누락된 것 수정
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/controller/NoticeApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/interfaces/controller/CommentApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/SpotApiController.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 🛜Backend

#424 416 장소 검색 api 작성
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/support/domain/src/main/java/kr/co/yigil/place/domain/Place.java
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PlaceRepository.java
  backend/yigil-api/src/docs/asciidoc/place-api.adoc
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/response/PlaceSearchResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotCommand.java
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/infrastructure/BookmarkStoreImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
Labels: ⭐️Feat, 🛜Backend

#432 frontend 배포 테스트
  .github/workflows/dev-frontend-cd.yml
Labels: 💻Frontend

#433 frontend 배포 테스트 2
  .github/workflows/dev-frontend-cd.yml
Labels: 💻Frontend

#431 430 course 검색을 위한 api 작성
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/CourseRepository.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
  backend/yigil-api/src/docs/asciidoc/course-api.adoc
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/CourseDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/response/CourseSearchResponse.java
  backend/yigil-api/src/main/resources/application.yml
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#434 Update application.yml
  backend/yigil-api/src/main/resources/application.yml
Labels: 🛠️Fix, 🛜Backend

#437 436 hotfix 하나의 장소에 여러 spot이 추가되있는 경우 오류가 나는 현상 수정
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-admin/src/main/resources/application.yml
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImplTest.java
Labels: 🛜Backend, 🐞BUG

#438 동작에 필요한 별도 환경 변수 복구
  frontend/src/app/endpoints/api/auth/callback/google/route.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/constants.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/app/utilActions.ts
  frontend/src/middleware.ts
  frontend/src/types/type.d.ts
Labels: 🛠️Fix, 💻Frontend

#439 Update dev-frontend-cd.yml
  .github/workflows/dev-frontend-cd.yml
Labels: 💻Frontend

#440 Update dev-frontend-cd.yml
  .github/workflows/dev-frontend-cd.yml
Labels: 💻Frontend

#446 Ci cd 수정
  .github/workflows/dev-backend-cd.yml
  .github/workflows/dev-backend-ci.yml
Labels: 🛜Backend

#447 Update application.yml
  backend/place-region-batch/src/main/resources/application.yml
Labels: 🛜Backend

#441 북마크 기능 작성
  frontend/src/app/(with-header)/(home)/action.ts
  frontend/src/app/(with-header)/(home)/places/popular/page.tsx
  frontend/src/app/(with-header)/place/action.ts
  frontend/src/app/_components/place/BookmarkButton.tsx
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/PlaceDetail.tsx
  frontend/src/app/_components/place/action.ts
Labels: ⭐️Feat, 💻Frontend

#448 Create Dockerfile
  backend/place-region-batch/Dockerfile
Labels: 🛜Backend

#449 Update dev-backend-cd.yml
  .github/workflows/dev-backend-cd.yml
Labels: 🛜Backend

#445 429 admin comment
  backend/.gitignore
  backend/support/domain/src/main/java/kr/co/yigil/comment/infrastructure/CommentRepository.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/comment/infterfaces/dto/mapper/CommentMapperImpl.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberMapperImpl.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/travel/course/interfaces/dto/mapper/CourseDtoMapperImpl.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/travel/spot/interfaces/dto/mapper/SpotDtoMapperImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/application/CommentFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/domain/CommentInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/domain/CommentReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/domain/CommentService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/domain/CommentServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/domain/CommentStore.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/infrastructure/CommentReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/infrastructure/CommentStoreImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/infterfaces/controller/CommentApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/infterfaces/dto/CommentDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/comment/infterfaces/dto/mapper/CommentMapper.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/controller/NoticeApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/dto/NoticeDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notification/domain/NotificationServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notification/domain/NotificationType.java
  backend/yigil-admin/src/test/java/kr/co/yigil/comment/application/CommentFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/comment/domain/CommentServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/comment/infrastructure/CommentReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/comment/infrastructure/CommentStoreImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/comment/infterfaces/controller/CommentApiControllerTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/interfaces/controller/NoticeApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: ⭐️Feat, ✅Test, 🛜Backend

#453 452 fix 어드민 모듈의 공지사항 도메인의 기타 오류 수정
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/domain/NoticeServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/controller/NoticeApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/dto/NoticeDto.java
  backend/yigil-admin/src/test/java/kr/co/yigil/notice/interfaces/controller/NoticeApiControllerTest.java
Labels: 🛠️Fix, 🛜Backend

#464 Update README.md
  README.md
Labels: 💻Frontend

#465 Update README.md
  README.md
Labels: 💻Frontend

#466 Update prod-frontend-cd.yml
  .github/workflows/prod-frontend-cd.yml
Labels: 💻Frontend

#467 Update prod-frontend-cd.yml
  .github/workflows/prod-frontend-cd.yml
Labels: 💻Frontend

#468 장소 검색 기능 구현 및 내부 QA 진행 후 미비한 부분 수정 및 미완성 부분 제거
  frontend/src/app/(with-header)/(home)/page.tsx
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/favorite/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/bookmark/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/follow/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/follower/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/(with-header)/(mypage)/setting/page.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/add/common/step/StepNavigation.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/search/BaseSearchBar.tsx
  frontend/src/app/_components/search/BaseSearchContent.tsx
  frontend/src/app/_components/search/BaseSearchHistory.tsx
  frontend/src/app/_components/search/InfinitePlaces.tsx
  frontend/src/app/_components/search/KeywordSuggestion.tsx
  frontend/src/app/_components/search/SearchBar.tsx
  frontend/src/app/_components/search/SearchHistory.tsx
  frontend/src/app/_components/search/SearchItem.tsx
  frontend/src/app/_components/search/TravelSearchResult.tsx
  frontend/src/app/_components/search/action.ts
  frontend/src/app/_components/ui/dialog/Dialog.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/app/layout.tsx
  frontend/src/context/search/SearchContext.tsx
  frontend/src/context/search/reducer.ts
  frontend/src/types/response.ts
  frontend/src/types/type.d.ts
  frontend/src/utils.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#473 마이페이지 스팟 API 연결
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#471 469 place map static image
  .github/workflows/prod-backend-cd.yml
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/response/PlaceStaticImageResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
Labels: ⭐️Feat, 🛠️Fix, ✅Test, 🛜Backend

#477 474 회원 정보 응답에 누락된 정보
  .github/workflows/prod-backend-cd.yml
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/support/domain/src/main/java/kr/co/yigil/region/domain/Region.java
  backend/yigil-admin/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/interfaces/dto/MemberDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/member/domain/MemberServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/interfaces/controller/MemberApiControllerTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#485 fix my spot list response
  backend/yigil-api/src/main/generated/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/comment/interfaces/dto/mapper/CommentMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/favor/interfaces/dto/mapper/FavorMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/follow/interfaces/dto/FollowDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/login/interfaces/dto/mapper/LoginMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/region/interfaces/dto/mapper/RegionMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/TravelMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/response/MySpotsResponseDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#481 Sharp 버전 다운그레이드
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: 🛠️Fix, 💻Frontend

#489 Query interface
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/dto/CourseListDto.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/dto/SpotListDto.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/CourseQueryDslRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotQueryDslRepository.java
  backend/yigil-api/src/main/generated/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/comment/interfaces/dto/mapper/CommentMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/favor/interfaces/dto/mapper/FavorMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/follow/interfaces/dto/FollowDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/login/interfaces/dto/mapper/LoginMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/region/interfaces/dto/mapper/RegionMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/TravelMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/response/MySpotsResponseDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#492 post -> put
  backend/yigil-api/src/main/generated/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/comment/interfaces/dto/mapper/CommentMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/favor/interfaces/dto/mapper/FavorMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/follow/interfaces/dto/FollowDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/login/interfaces/dto/mapper/LoginMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/region/interfaces/dto/mapper/RegionMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/TravelMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/interfaces/controller/CommentApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/interfaces/controller/MemberApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/TravelApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/response/MySpotsResponseDto.java
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/comment/interfaces/controller/CommentApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/interfaces/controller/MemberApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/TravelApiControllerTest.java
Labels: 🛜Backend

#487 마이페이지 스팟 에러 처리 및 상세 페이지 이동 기능 추가
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/spot/page.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/ui/toast/ToastMsg.tsx
  frontend/src/types/myPageResponse.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#495 개인정보 처리방침 추가
  frontend/src/app/(with-header)/(home)/HomeNavigation.tsx
  frontend/src/app/(with-header)/privacy-policy/page.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
  frontend/src/app/_components/ui/popover/types.ts
Labels: ⭐️Feat, 💻Frontend

#486 484 add place Id to my spot list
  backend/yigil-api/src/main/generated/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/comment/interfaces/dto/mapper/CommentMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/favor/interfaces/dto/mapper/FavorMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/follow/interfaces/dto/FollowDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/login/interfaces/dto/mapper/LoginMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/region/interfaces/dto/mapper/RegionMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/TravelMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/response/MySpotsResponseDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#497 494 member age gender
  backend/support/domain/src/main/java/kr/co/yigil/member/Ages.java
  backend/support/domain/src/main/java/kr/co/yigil/member/Gender.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#499 Spot/Course 추가 관련 리팩토링
  frontend/__tests__/CourseReducer.test.ts
  frontend/__tests__/PlaceReducer.test.ts
  frontend/__tests__/SpotReducer.test.ts
  frontend/__tests__/StepReducer.test.ts
  frontend/src/app/_components/add/Navigation.tsx
  frontend/src/app/_components/add/Progress.tsx
  frontend/src/app/_components/add/SelectPlaceNavigation.tsx
  frontend/src/app/_components/add/course/AddCourse.tsx
  frontend/src/app/_components/add/course/AddCourseContent.tsx
  frontend/src/app/_components/add/course/AddCourseData.tsx
  frontend/src/app/_components/add/spot/AddSpot.tsx
  frontend/src/app/_components/add/spot/AddSpotContent.tsx
  frontend/src/app/_components/add/spot/AddSpotData.tsx
  frontend/src/app/_components/images/index.ts
  frontend/src/app/_components/search/BaseSearchBar.tsx
  frontend/src/app/_components/search/BaseSearchContent.tsx
  frontend/src/app/_components/search/BaseSearchHistory.tsx
  frontend/src/app/_components/search/InfinitePlaces.tsx
  frontend/src/app/_components/search/KeywordSuggestion.tsx
  frontend/src/app/_components/search/SearchItem.tsx
  frontend/src/app/_components/search/TravelSearchResult.tsx
  frontend/src/app/test/course/page.tsx
  frontend/src/app/test/spot/page.tsx
  frontend/src/context/search/SearchContext.tsx
  frontend/src/context/search/reducer.ts
  frontend/src/context/travel/course/CourseContext.tsx
  frontend/src/context/travel/course/reducer.ts
  frontend/src/context/travel/place/PlaceContext.tsx
  frontend/src/context/travel/place/reducer.ts
  frontend/src/context/travel/schema.ts
  frontend/src/context/travel/spot/SpotContext.tsx
  frontend/src/context/travel/spot/reducer.ts
  frontend/src/context/travel/step/StepContext.tsx
  frontend/src/context/travel/step/reducer.ts
  frontend/src/context/travel/utils.ts
Labels: 👍Refactor, 💻Frontend

#501 레디스 캐싱이 제대로 동작하지 않는 오류 수정
  backend/yigil-admin/src/main/java/kr/co/yigil/member/interfaces/dto/response/MemberInfoDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notice/interfaces/controller/NoticeApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/RedisConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
Labels: 🛠️Fix, 🛜Backend, 🐞BUG

#505 hotfix redis
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/RedisConfig.java
Labels: 🛜Backend

#508 Update prod-backend-cd.yml
  .github/workflows/prod-backend-cd.yml
Labels: 🛜Backend

#510 홈페이지 장소 목록에서 더보기만큼의 장소 개수가 로딩되는 현상 수정
  frontend/src/app/(with-header)/(home)/action.ts
Labels: 🛠️Fix, 💻Frontend

#511 MSW 제거
  .github/workflows/dev-frontend-ci.yml
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo/favicon.svg
  frontend/public/mockServiceWorker.js
  frontend/src/app/_components/MSWComponent.tsx
  frontend/src/app/_components/api/action.ts
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
  frontend/src/mocks/api/data/eventBannerImgs.ts
  frontend/src/mocks/api/data/myPageData.ts
  frontend/src/mocks/api/data/myPlaceData.ts
  frontend/src/mocks/api/data/placeData.ts
  frontend/src/mocks/api/eventBanner.ts
  frontend/src/mocks/api/myPage.ts
  frontend/src/mocks/api/myPlace.ts
  frontend/src/mocks/api/place.ts
  frontend/src/mocks/api/placeStaticImage.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/server.ts
  frontend/src/setupTests.js
  frontend/vite.config.mjs
Labels: 🛠️Fix, 💻Frontend

#504 498 bookmark sorting
  backend/support/domain/src/main/java/kr/co/yigil/bookmark/domain/dto/BookmarkDto.java
  backend/support/domain/src/main/java/kr/co/yigil/bookmark/infrastructure/BookmarkQueryRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/support/domain/src/main/java/kr/co/yigil/place/domain/Place.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/application/BookmarkFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkService.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/infrastructure/BookmarkReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/dto/BookmarkInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/dto/response/BookmarksResponse.java
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/infrastructure/BookmarkReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiControllerTest.java
Labels: ⭐️Feat, 🛠️Fix, ✅Test, 🛜Backend

#517 515 hotfix gender age change response
  backend/support/domain/src/main/java/kr/co/yigil/member/Ages.java
  backend/support/domain/src/main/java/kr/co/yigil/member/Gender.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
Labels: 🛠️Fix, 🛜Backend

#518 문서 업데이트
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
Labels: 🛜Backend

#519 Update logback-spring.xml
  backend/yigil-api/src/main/resources/logback-spring.xml
Labels: 🛠️Fix, 🛜Backend

#520 Update README.md
  README.md
Labels: 🛜Backend

#521 logback test
  backend/yigil-api/src/main/resources/logback-spring.xml
Labels: 🛜Backend

#522 Update README.md
  README.md
Labels: 🛜Backend

#526 524 member mypage
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/support/domain/src/main/java/kr/co/yigil/region/domain/Region.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/interfaces/dto/MemberDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/region/domain/RegionInfo.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/domain/MemberServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/interfaces/controller/MemberApiControllerTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#531 hotfix - 중오 파일 누락 528 bug bookmark image cdn 문제
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/support/domain/src/main/java/kr/co/yigil/region/domain/Region.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/interfaces/dto/MemberDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/region/domain/RegionInfo.java
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/member/domain/MemberServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/interfaces/controller/MemberApiControllerTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#530 528 bug bookmark image cdn 문제
  backend/support/domain/src/main/java/kr/co/yigil/bookmark/domain/dto/BookmarkDto.java
  backend/support/domain/src/main/java/kr/co/yigil/bookmark/infrastructure/BookmarkQueryRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/bookmark/infrastructure/BookmarkRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/application/BookmarkFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkService.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/infrastructure/BookmarkReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/dto/BookmarkInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/interfaces/dto/response/BookmarksResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberServiceImpl.java
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/infrastructure/BookmarkReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/interfaces/controller/BookmarkApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/domain/MemberServiceImplTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend, 🐞BUG

#545 544 hot fix 예외처리 로직 개선
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/PopularPlaceJobConfig.java
  backend/support/domain/src/main/java/kr/co/yigil/notification/domain/Notification.java
  backend/yigil-admin/src/main/java/kr/co/yigil/travel/spot/domain/SpotInfoDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/travel/spot/interfaces/dto/SpotDto.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/RedisConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/GlobalExceptionHandler.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/SSETimeoutException.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/TimeoutException.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/resources/logback-spring.xml
Labels: 🛠️Fix, 🛜Backend, 🐞BUG

#551 Update logback-spring.xml
  backend/yigil-api/src/main/resources/logback-spring.xml
Labels: 🛜Backend

#550 마이페이지 북마크 기능
  frontend/src/app/(with-header)/(mypage)/mypage/my/bookmark/page.tsx
  frontend/src/app/_components/hooks/useIntersectionObserver.ts
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkItem.tsx
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkList.tsx
  frontend/src/app/_components/mypage/bookmark/bookmarkActions.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/action.ts
  frontend/src/types/myPageResponse.ts
  frontend/src/utils.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#543 Spot/Course 추가 관련 리팩토링 및 기능 추가 - 2
  frontend/src/app/_components/add/Navigation.tsx
  frontend/src/app/_components/add/common/PostRating.tsx
  frontend/src/app/_components/add/common/PostReview.tsx
  frontend/src/app/_components/add/course/AddCourseConfirm.tsx
  frontend/src/app/_components/add/course/AddCourseData.tsx
  frontend/src/app/_components/add/course/AddCourseImages.tsx
  frontend/src/app/_components/add/course/AddCoursePlace.tsx
  frontend/src/app/_components/add/course/AddCourseReviews.tsx
  frontend/src/app/_components/add/course/AddCourseSpotData.tsx
  frontend/src/app/_components/add/course/AddCourseSpots.tsx
  frontend/src/app/_components/add/course/SelectSpot.tsx
  frontend/src/app/_components/add/spot/AddSpotConfirm.tsx
  frontend/src/app/_components/add/spot/AddSpotData.tsx
  frontend/src/app/_components/add/spot/AddSpotImages.tsx
  frontend/src/app/_components/add/spot/AddSpotPlace.tsx
  frontend/src/app/_components/add/spot/AddSpotReview.tsx
  frontend/src/app/_components/images/CourseImageHandler.tsx
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImageInput.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/images/SpotImageHandler.tsx
  frontend/src/context/travel/course/reducer.ts
  frontend/src/context/travel/schema.ts
Labels: ⭐️Feat, 👍Refactor, 💻Frontend

#552 마이페이지 북마크 디벨롭 병합
  frontend/src/app/(with-header)/(mypage)/mypage/my/bookmark/page.tsx
  frontend/src/app/_components/hooks/useIntersectionObserver.ts
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkItem.tsx
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkList.tsx
  frontend/src/app/_components/mypage/bookmark/bookmarkActions.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/place/Place.tsx
  frontend/src/app/_components/place/action.ts
  frontend/src/types/myPageResponse.ts
  frontend/src/utils.ts
Labels: ⭐️Feat, 💻Frontend

#555 develop 배포 진행
  README.md
Labels: 🛜Backend

#553 hotfix: 디자인에 맞춰 꼭 수정 필요한 스타일 수정
  frontend/public/icons/logout.svg
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style

#556 404 페이지 작성
  frontend/src/app/_components/ui/button/ToPreviousPage.tsx
  frontend/src/app/not-found.tsx
Labels: ⭐️Feat, 💻Frontend

#557 hotfix: place의 장소 스타일 수정 및 장소 추가 시 장소 이름 스타일 수정
  frontend/src/app/_components/add/common/AddPlaceInfo.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/place/Place.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style

#561 Hotfix style
  frontend/public/icons/logout.svg
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/ui/popover/constants.tsx
Labels: 💻Frontend

#564 fix: 주변 지도 로딩 창 수정
  frontend/src/app/_components/near/ViewTravelMap.tsx
Labels: 🛠️Fix, 💻Frontend

#565 Fix near map loading
  frontend/src/app/_components/near/ViewTravelMap.tsx
Labels: 💻Frontend

#567 hotfix: 마이페이지 북마크 무한렌더링 수정
  frontend/src/app/_components/hooks/useIntersectionObserver.ts
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkList.tsx
Labels: 💻Frontend

#569 hotfix: 무한렌더링 수정 배포
  frontend/src/app/_components/hooks/useIntersectionObserver.ts
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkList.tsx
Labels: 💻Frontend

#539 536 notification
  backend/support/domain/src/main/java/kr/co/yigil/notification/domain/Notification.java
  backend/support/domain/src/main/java/kr/co/yigil/notification/infrastructure/NotificationRepository.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/application/NotificationFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationService.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/NotificationInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/request/NotificationReadRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/response/NotificationReadResponse.java
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/notification/application/NotificationFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/domain/NotificationServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/infrastructure/NotificationReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/interfaces/controller/NotificationApiControllerTest.java
Labels: ⭐️Feat, 📕Docs, ✅Test, 🛜Backend

#548 534 장소 별점 캐시
  backend/support/domain/src/main/java/kr/co/yigil/place/domain/Place.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/bookmark/domain/BookmarkServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceCacheReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceCacheStore.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceRateCalculator.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceCacheReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceCacheStoreImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceRateCalculatorImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseSpotSeriesFactoryImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/bookmark/infrastructure/BookmarkStoreImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceCacheReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceCacheStoreImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/infrastructure/PlaceRateCalculatorImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
Labels: 🛜Backend

#579 578 sse 알림이 프론트에서 제대로 확인이 안되는 오류 수정
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/support/domain/src/main/java/kr/co/yigil/notification/domain/Notification.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
  backend/yigil-api/build.gradle
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/RedisConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/application/NotificationFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationSender.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationService.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationSenderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/resources/logback-spring.xml
  backend/yigil-api/src/test/java/kr/co/yigil/comment/interfaces/controller/CommentApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/application/NotificationFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/domain/NotificationServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/infrastructure/NotificationReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/infrastructure/NotificationSenderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/interfaces/controller/NotificationApiControllerTest.java
Labels: 🛠️Fix, 🛜Backend

#582 feat: 코스 api 연결 및 spot 컴포넌트 자잘한 수정
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
Labels: ⭐️Feat, 💻Frontend

#577 536 notification
  backend/support/domain/src/main/java/kr/co/yigil/notification/domain/Notification.java
  backend/support/domain/src/main/java/kr/co/yigil/notification/infrastructure/NotificationRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notification/infrastructure/NotificationReaderImpl.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/NotificationInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/response/NotificationsResponse.java
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/notification/infrastructure/NotificationReaderImplTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#581 580 course api
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/docs/asciidoc/course-api.adoc
  backend/yigil-api/src/main/generated/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/request/MySpotsDetailRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/response/MySpotsDetailResponse.java
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
Labels: ⭐️Feat, 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#584 573 admin페이지 place imagefile 조회 및 변경 기능
  backend/support/domain/src/main/java/kr/co/yigil/notification/domain/Notification.java
  backend/support/domain/src/main/java/kr/co/yigil/place/domain/Place.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/Spot.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/domain/PlaceCommand.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/infrastructure/PlaceReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapper.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/dto/request/PlaceImageUpdateRequest.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/dto/response/PlaceDetailResponse.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/dto/response/PlaceImageUpdateResponse.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/dto/response/PlacesResponse.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/interfaces/dto/response/PointDto.java
  backend/yigil-admin/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/place/infrastructure/PlaceReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
Labels: ⭐️Feat, ✅Test, 🛜Backend

#583 Feat mypage course
  frontend/src/app/(with-header)/(mypage)/mypage/my/travel/course/page.tsx
  frontend/src/app/_components/api/httpRequest.ts
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
Labels: ⭐️Feat, 💻Frontend

#586 Update SpotServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
Labels: 🛜Backend

#592 591 api couser detail 정보 변경
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/PopularPlaceJobConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/CourseDetailInfoDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#595 코스 추가 백엔드 통신 기능 구현
  frontend/public/icons/markers/marker1.svg
  frontend/public/icons/markers/marker2.svg
  frontend/public/icons/markers/marker3.svg
  frontend/public/icons/markers/marker4.svg
  frontend/public/icons/markers/marker5.svg
  frontend/public/icons/maximize.svg
  frontend/src/app/_components/add/Progress.tsx
  frontend/src/app/_components/add/course/AddCourseConfirm.tsx
  frontend/src/app/_components/add/course/AddCourseConfirmMap.tsx
  frontend/src/app/_components/add/course/AddCourseMap.tsx
  frontend/src/app/_components/add/course/AddCourseSpotData.tsx
  frontend/src/app/_components/add/course/CourseNavigation.tsx
  frontend/src/app/_components/add/course/CourseProgress.tsx
  frontend/src/app/_components/add/course/action.ts
  frontend/src/app/_components/add/course/util.ts
  frontend/src/app/_components/add/spot/SpotNavigation.tsx
  frontend/src/app/_components/add/spot/SpotProgress.tsx
  frontend/src/context/travel/course/reducer.ts
  frontend/src/context/travel/schema.ts
  frontend/src/context/travel/step/course/courseWithNewReducer.ts
  frontend/src/context/travel/step/course/types.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend, 🎨style

#596 홈 FAB에 코스 추가 접근 가능한 메뉴 다시 넣기
  frontend/src/app/_components/ui/popover/constants.tsx
Labels: ⭐️Feat, 💻Frontend

#597 장소 선택 UI에 캐러셀 적용
  frontend/src/app/_components/place/RegionSelect.tsx
Labels: 🛠️Fix, 💻Frontend, 🎨style

#599 598 코스 상세 조회 시 linestring 정보 전달
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/Course.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseSeriesFactoryImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/CourseDetailInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/request/CourseUpdateRequest.java
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/course/CourseSeriesFactoryImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#606 605 어드민 api를 위한 일부 응답 수정
  backend/yigil-admin/src/main/java/kr/co/yigil/travel/course/domain/CourseInfoDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/travel/course/interfaces/dto/CourseDto.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/course/domain/CourseServiceImplTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationSenderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
Labels: ⭐️Feat, 🛜Backend

#600 DOM 구조 수정 및 맵 여는 버튼 클릭 시 상단으로 스크롤되도록 구현
  frontend/src/app/_components/add/course/AddCourseConfirm.tsx
Labels: 🛠️Fix, 💻Frontend

#604 장소 대표 이미지에 지도 이미지가 입력되는 현상 수정
  frontend/src/app/_components/add/AddTravelPlaceInfo.tsx
  frontend/src/app/_components/add/course/action.ts
  frontend/src/app/_components/naver-map/markers/basicMarker.ts
  frontend/src/app/_components/naver-map/markers/plusMarker.ts
Labels: 🛠️Fix, 💻Frontend, 🎨style

#611 장소 상세 화면에서 특정 상황에 장소/코스 리뷰 선택 UI가 보이지 않던 오류 수정 외 2가지
  frontend/src/app/(with-header)/(home)/LoggedInHome.tsx
  frontend/src/app/(with-header)/(home)/LoggedOutHome.tsx
  frontend/src/app/(with-header)/(home)/places/popular/page.tsx
  frontend/src/app/(with-header)/(home)/places/recommended/page.tsx
  frontend/src/app/(with-header)/(home)/places/regions/[id]/page.tsx
  frontend/src/app/(with-header)/place/[id]/@reviews/error.tsx
  frontend/src/app/(with-header)/place/[id]/@reviews/layout.tsx
  frontend/src/app/(with-header)/place/[id]/@reviews/page.tsx
  frontend/src/app/(with-header)/place/[id]/default.tsx
  frontend/src/app/(with-header)/place/[id]/layout.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkItem.tsx
  frontend/src/app/_components/place/BookmarkButton.tsx
  frontend/src/app/_components/place/PlaceDetailWithMySpot.tsx
  frontend/src/app/_components/place/ReviewNavigation.tsx
  frontend/src/app/_components/place/Tab.tsx
  frontend/src/app/_components/place/TabGroup.tsx
  frontend/src/app/_components/place/detail/PlaceDetail.tsx
  frontend/src/app/_components/place/detail/PlaceDetailWithMySpot.tsx
  frontend/src/app/_components/place/detail/action.ts
  frontend/src/app/_components/place/places/Place.tsx
  frontend/src/app/_components/place/places/Places.tsx
  frontend/src/app/_components/place/places/PopularPlaces.tsx
  frontend/src/app/_components/place/places/RecommendedPlaces.tsx
  frontend/src/app/_components/place/places/RegionPlaces.tsx
  frontend/src/app/_components/place/places/action.ts
  frontend/src/app/_components/place/places/index.ts
  frontend/src/app/_components/place/spot/Spots.tsx
  frontend/src/app/_components/place/types.ts
  frontend/src/app/_components/search/InfinitePlaces.tsx
Labels: 🛠️Fix, 👍Refactor, 💻Frontend

#602 course 생성시 spot의 권한 확인 로직 추가
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseSpotSeriesFactoryImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/course/CourseSpotSeriesFactoryImplTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#617 일정만 기록하기 기능 추가
  frontend/__tests__/CourseReducer.test.ts
  frontend/__tests__/SpotReducer.test.ts
  frontend/src/app/_components/add/course/AddCourse.tsx
  frontend/src/app/_components/add/course/AddCourseConfirmMap.tsx
  frontend/src/app/_components/add/course/AddCourseContent.tsx
  frontend/src/app/_components/add/course/AddCourseData.tsx
  frontend/src/app/_components/add/course/AddCourseReviews.tsx
  frontend/src/app/_components/add/course/AddCourseSpotData.tsx
  frontend/src/app/_components/add/course/CourseNavigation.tsx
  frontend/src/app/_components/add/course/SelectSpot.tsx
  frontend/src/app/_components/add/course/action.ts
  frontend/src/app/_components/add/course/with-new/AddCourseImages.tsx
  frontend/src/app/_components/add/course/with-new/AddCourseMap.tsx
  frontend/src/app/_components/add/course/with-new/AddCourseNewPlace.tsx
  frontend/src/app/_components/add/course/with-new/AddCourseSelectPlaceNavigation.tsx
  frontend/src/app/_components/add/course/without-new/AddCourseExistSpots.tsx
  frontend/src/app/_components/add/course/without-new/AddCourseOrder.tsx
  frontend/src/app/_components/add/course/without-new/ExistPlaceItem.tsx
  frontend/src/app/_components/add/course/without-new/SortableSpot.tsx
  frontend/src/app/_components/add/course/without-new/SortableSpotItem.tsx
  frontend/src/app/_components/add/spot/AddSpotConfirm.tsx
  frontend/src/app/_components/add/spot/SpotNavigation.tsx
  frontend/src/app/_components/add/spot/action.ts
  frontend/src/app/_components/images/CourseImageHandler.tsx
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImageInput.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/images/SpotImageHandler.tsx
  frontend/src/context/exists/AddTravelExistsContext.tsx
  frontend/src/context/exists/reducer.ts
  frontend/src/context/travel/course/reducer.ts
  frontend/src/context/travel/schema.ts
  frontend/src/context/travel/spot/reducer.ts
  frontend/src/context/travel/utils.ts
  frontend/src/types/response.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#615 603 favor count batch
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/DailyTravelLikeCountJobConfig.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/domain/DailyFavorCount.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/domain/Favor.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountRepositoryCustom.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountRepositoryCustomImpl.java
  backend/support/domain/src/main/java/kr/co/yigil/global/utils/StringToTravelTypeConverter.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/TravelType.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/Travel.java
  backend/yigil-admin/src/main/java/kr/co/yigil/favor/domain/DailyFavorCountReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/application/StatisticsFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/domain/StaticInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/domain/StatisticsService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/domain/StatisticsServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/interfaces/controller/StatisticsApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/interfaces/dto/StatisticsDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/interfaces/dto/StatisticsMapper.java
  backend/yigil-admin/src/test/java/kr/co/yigil/favor/infrastructure/DailyFavorCountReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/statistics/application/StatisticsFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/statistics/domain/StatisticsServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/statistics/interfaces/controller/StatisticsApiControllerTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/domain/FavorServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/domain/FavorServiceImplTest.java
Labels: ⭐️Feat, 🛠️Fix, ✅Test, 🛜Backend

#619 618 어드민 모듈의 신고 관리 기능 추가
  backend/support/domain/src/main/java/kr/co/yigil/report/type/domain/ReportType.java
  backend/support/domain/src/main/java/kr/co/yigil/report/type/domain/ReportTypeStatus.java
  backend/support/domain/src/main/java/kr/co/yigil/report/type/infrastructure/ReportTypeRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/report/type/infrastructure/ReportTypeReaderImpl.java
Labels: ⭐️Feat, 🛜Backend

#620 616 spot 생성 요청 객체를 변경합니다
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/Spot.java
  backend/yigil-admin/src/test/java/kr/co/yigil/travel/spot/domain/SpotServiceImplTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseSpotSeriesFactoryImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/request/SpotRegisterRequest.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/spot/SpotServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#624 621 course update
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/Course.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/domain/Spot.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseCommand.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseSeriesFactoryImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/request/CourseUpdateRequest.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/course/CourseSeriesFactoryImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#626 spot 수정시 기존의 이미지를 비우고 새 이미지를 추가할 때 발생하는 오류 해결
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotSeriesFactoryImpl.java
Labels: 🛠️Fix, 🛜Backend

#625 내가 등록한 장소 상세와 코스 상세 화면
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/_components/add/course/CourseNavigation.tsx
  frontend/src/app/_components/add/course/action.ts
  frontend/src/app/_components/add/course/without-new/AddCourseExistSpots.tsx
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImageInput.tsx
  frontend/src/app/_components/images/ImageItem.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkList.tsx
  frontend/src/app/_components/mypage/course/CourseConfirmMap.tsx
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/course/CourseSpotContainer.tsx
  frontend/src/app/_components/mypage/course/CourseSpotItem.tsx
  frontend/src/app/_components/mypage/course/CourseSpots.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/course/SortableSpotItem.tsx
  frontend/src/app/_components/mypage/course/types.ts
  frontend/src/app/_components/mypage/course/util.ts
  frontend/src/app/_components/mypage/detailModify.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/mypage/spot/SpotDetail.tsx
  frontend/src/app/_components/ui/select/Select.tsx
  frontend/src/app/_components/ui/select/SelectOption.tsx
  frontend/src/types/myPageResponse.ts
  frontend/src/utils.ts
  frontend/tailwind.config.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#628 장소 및 코스 수정 디벨롭 병합
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/_components/add/course/CourseNavigation.tsx
  frontend/src/app/_components/add/course/action.ts
  frontend/src/app/_components/add/course/without-new/AddCourseExistSpots.tsx
  frontend/src/app/_components/images/ImageHandler.tsx
  frontend/src/app/_components/images/ImageInput.tsx
  frontend/src/app/_components/images/ImageItem.tsx
  frontend/src/app/_components/images/ImagesContainer.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/bookmark/MyPageBookmarkList.tsx
  frontend/src/app/_components/mypage/course/CourseConfirmMap.tsx
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/course/CourseSpotContainer.tsx
  frontend/src/app/_components/mypage/course/CourseSpotItem.tsx
  frontend/src/app/_components/mypage/course/CourseSpots.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseItem.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/course/SortableSpotItem.tsx
  frontend/src/app/_components/mypage/course/types.ts
  frontend/src/app/_components/mypage/course/util.ts
  frontend/src/app/_components/mypage/detailModify.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotItem.tsx
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/mypage/spot/SpotDetail.tsx
  frontend/src/app/_components/ui/select/Select.tsx
  frontend/src/app/_components/ui/select/SelectOption.tsx
  frontend/src/types/myPageResponse.ts
  frontend/src/utils.ts
  frontend/tailwind.config.ts
Labels: ⭐️Feat, 💻Frontend

#630 629 place detail info에 장소의 좌표 포함하기
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/PlaceDetailInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapper.java
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#631 623 mypage spot fix
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotQueryDslRepository.java
Labels: 🛠️Fix, 🛜Backend

#634 633 admin 통계api endpoint 한 곳으로 모으기
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/DailyTotalFavorCountJobConfig.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/domain/DailyTotalFavorCount.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyTotalFavorCountRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/FavorRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/favor/infrastructure/FavorReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/application/StatisticsFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/domain/StatisticsService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/domain/StatisticsServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/interfaces/controller/StatisticsApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/interfaces/dto/StatisticsDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/statistics/interfaces/dto/StatisticsMapper.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/application/StatsFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StaticInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/infrastructure/StatsReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/controller/StatsApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/dto/StatsDto.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/dto/mapper/StatsMapper.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/dto/response/RegionStatsResponse.java
  backend/yigil-admin/src/test/java/kr/co/yigil/favor/infrastructure/DailyFavorCountReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/statistics/application/StatisticsFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/statistics/domain/StatisticsServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/statistics/interfaces/controller/StatisticsApiControllerTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/application/StatsFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/domain/StatsServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/infrastructure/StatsReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/interfaces/controller/StatsApiControllerTest.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/infrastructure/FavorCountCacheReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/infrastructure/FavorReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/infrastructure/FavorStoreImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/infrastructure/FavorReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/infrastructure/FavorStoreImplTest.java
Labels: ⭐️Feat, 🛠️Fix, 👍Refactor, ✅Test, 🛜Backend

#637 607 좋아요 api가 반응이 느린 문제
  backend/support/domain/src/main/java/kr/co/yigil/member/Member.java
  backend/support/domain/src/main/java/kr/co/yigil/region/domain/Region.java
  backend/support/domain/src/main/java/kr/co/yigil/region/domain/RegionCategory.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/TravelRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/application/StatsFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/TravelReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/infrastructure/TravelReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/controller/StatsApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/dto/mapper/StatsMapper.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/dto/response/RecentRegionStatsResponse.java
  backend/yigil-admin/src/main/resources/application.yml
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/application/StatsFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/domain/StatsServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/infrastructure/TravelReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/interfaces/controller/StatsApiControllerTest.java
  backend/yigil-api/src/main/resources/application.yml
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
Labels: 🛠️Fix, 🛜Backend

#638 Yaml restore
  backend/yigil-admin/src/main/resources/application.yml
  backend/yigil-api/src/main/resources/application.yml
Labels: 🛜Backend

#639 Update README.md
  README.md
Labels: 🛜Backend

#640 635 place in course
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
  backend/yigil-admin/src/main/java/kr/co/yigil/travel/course/interfaces/controller/CourseApiController.java
  backend/yigil-admin/src/main/resources/application.yml
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/CourseInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapper.java
  backend/yigil-api/src/main/resources/application.yml
  backend/yigil-api/src/main/resources/static/docs/bookmark-api.html
  backend/yigil-api/src/main/resources/static/docs/comment-api.html
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/favor-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/login-api.html
  backend/yigil-api/src/main/resources/static/docs/member-api.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/place-api.html
  backend/yigil-api/src/main/resources/static/docs/region-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/main/resources/static/docs/travel-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/domain/course/CourseServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/course/CourseReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#642 네이버 로그인
  backend/yigil-api/src/main/java/kr/co/yigil/login/infrastructure/NaverLoginStrategy.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/interfaces/dto/response/NaverTokenInfoResponse.java
  backend/yigil-api/src/main/resources/url.properties
  backend/yigil-api/src/test/java/kr/co/yigil/login/infrastructure/NaverLoginStrategyTest.java
Labels: ⭐️Feat, 🛜Backend

#643 635 place in course
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/main/generated/kr/co/yigil/bookmark/interfaces/dto/mapper/BookmarkMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/comment/interfaces/dto/mapper/CommentMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/favor/intefaces/dto/mapper/FavorMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/favor/interfaces/dto/mapper/FavorMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/follow/interfaces/dto/FollowDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/login/interfaces/dto/mapper/LoginMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/member/interfaces/dto/mapper/MemberDtoMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/place/interfaces/dto/mapper/PlaceMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/region/interfaces/dto/mapper/RegionMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/report/report/interfaces/dto/mapper/ReportMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapperImpl.java
  backend/yigil-api/src/main/generated/kr/co/yigil/travel/interfaces/dto/mapper/TravelMapperImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/CourseInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/SpotInfoDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#645 내 스팟, 코스가 아니어도 나오던 수정 버튼 수정
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/spot/SpotDetail.tsx
  frontend/src/types/myPageResponse.ts
Labels: 🛠️Fix, 💻Frontend

#649 spot/course detail 수정 디벨롭 병합
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/spot/SpotDetail.tsx
  frontend/src/types/myPageResponse.ts
Labels: 🛠️Fix, 💻Frontend

#644 장소 상세 내용 추가
  frontend/src/app/(with-header)/(home)/LoggedInHome.tsx
  frontend/src/app/(with-header)/add/[slug]/page.tsx
  frontend/src/app/(with-header)/place/[id]/@reviews/action.ts
  frontend/src/app/(with-header)/place/[id]/@reviews/courses/page.tsx
  frontend/src/app/(with-header)/place/[id]/@reviews/page.tsx
  frontend/src/app/_components/add/course/without-new/AddCourseExistSpots.tsx
  frontend/src/app/_components/add/spot/AddSpot.tsx
  frontend/src/app/_components/course/Course.tsx
  frontend/src/app/_components/place/course/Course.tsx
  frontend/src/app/_components/place/course/Courses.tsx
  frontend/src/app/_components/place/detail/PlaceDetailWithMySpot.tsx
  frontend/src/app/_components/place/spot/PlaceMySpot.tsx
  frontend/src/app/_components/place/spot/Spot.tsx
  frontend/src/app/_components/place/spot/Spots.tsx
  frontend/src/app/_components/place/spot/action.ts
  frontend/src/app/_components/reaction/Comments.tsx
  frontend/src/app/_components/reaction/Reaction.tsx
  frontend/src/app/_components/reaction/action.ts
  frontend/src/app/_components/search/CourseResults.tsx
  frontend/src/app/_components/search/InfiniteCourses.tsx
  frontend/src/app/_components/search/action.ts
  frontend/src/context/search/reducer.ts
  frontend/src/context/travel/spot/SpotContext.tsx
  frontend/src/context/travel/spot/reducer.ts
  frontend/src/types/response.ts
Labels: ⭐️Feat, 🛠️Fix, 💻Frontend

#646 hotfix TotalFavorCount 배치 수정
  backend/place-region-batch/src/main/java/kr/co/yigil/batch/job/DailyTotalFavorCountJobConfig.java
  backend/support/domain/src/main/java/kr/co/yigil/follow/domain/Follow.java
  backend/support/domain/src/main/java/kr/co/yigil/global/SortBy.java
Labels: 🛠️Fix, 🛜Backend, 🐞BUG

#648 647 어드민 모듈의 통계 메뉴 추가
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountRepositoryCustom.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyFavorCountRepositoryCustomImpl.java
  backend/support/domain/src/main/java/kr/co/yigil/favor/infrastructure/DailyTotalFavorCountRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/application/StatsFacade.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StaticInfo.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsReader.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsService.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/domain/StatsServiceImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/infrastructure/StatsReaderImpl.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/controller/StatsApiController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/stats/interfaces/dto/StatsDto.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/application/StatsFacadeTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/domain/StatsServiceImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/infrastructure/StatsReaderImplTest.java
  backend/yigil-admin/src/test/java/kr/co/yigil/stats/interfaces/controller/StatsApiControllerTest.java
Labels: 👍Refactor, 🛜Backend

#652 [hotfix] fix error with test
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/PlaceCoordinateDto.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/interfaces/controller/NotificationApiControllerTest.java
Labels: 🛠️Fix, 🛜Backend

#653 635 place in course
  backend/yigil-api/src/main/java/kr/co/yigil/report/report/interfaces/controller/ReportApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/course/CourseServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/controller/CourseApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/CourseInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/SpotInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/CourseMapper.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/mapper/SpotMapper.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/CourseApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, 📕Docs, 🛜Backend

#654 fix spot in place image mapping problem
  backend/yigil-api/src/main/java/kr/co/yigil/travel/interfaces/dto/SpotInfoDto.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/travel/interfaces/controller/SpotApiControllerTest.java
Labels: 🛠️Fix, ✅Test, 🛜Backend

#657 656 사용자의 place id를 조회하는 api 생성
  backend/support/domain/src/main/java/kr/co/yigil/place/infrastructure/PlaceRepository.java
  backend/support/domain/src/main/java/kr/co/yigil/travel/infrastructure/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/GlobalExceptionHandler.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/application/PlaceFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceService.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/domain/PlaceServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/controller/PlaceApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/place/interfaces/dto/response/MyPlaceIdResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/spot/SpotReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImpl.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/application/PlaceFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/domain/PlaceServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/place/interfaces/controller/PlaceApiControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/infrastructure/spot/SpotReaderImplTest.java
Labels: ⭐️Feat, 🛜Backend

#658 notification api 수정
  backend/support/domain/src/main/java/kr/co/yigil/notification/domain/Notification.java
  backend/support/domain/src/main/java/kr/co/yigil/notification/infrastructure/NotificationRepository.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notification/domain/NotificationFactory.java
  backend/yigil-admin/src/main/java/kr/co/yigil/notification/infrastructure/NotificationReaderImpl.java
  backend/yigil-api/src/docs/asciidoc/follow-api.adoc
  backend/yigil-api/src/docs/asciidoc/notification-api.adoc
  backend/yigil-api/src/main/java/kr/co/yigil/notification/application/NotificationFacade.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationFactory.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationInfo.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationService.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/domain/NotificationServiceImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationReaderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/infrastructure/NotificationSenderImpl.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/controller/NotificationApiController.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/NotificationInfoDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/notification/interfaces/dto/mapper/NotificationMapper.java
  backend/yigil-api/src/main/resources/static/docs/course-api.html
  backend/yigil-api/src/main/resources/static/docs/follow-api.html
  backend/yigil-api/src/main/resources/static/docs/index.html
  backend/yigil-api/src/main/resources/static/docs/notification-api.html
  backend/yigil-api/src/main/resources/static/docs/report-api.html
  backend/yigil-api/src/main/resources/static/docs/spot-api.html
  backend/yigil-api/src/test/java/kr/co/yigil/notification/application/NotificationFacadeTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/domain/NotificationServiceImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/infrastructure/NotificationReaderImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/infrastructure/NotificationStoreImplTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/notification/interfaces/controller/NotificationApiControllerTest.java
Labels: ⭐️Feat, 🛠️Fix, 📕Docs, ✅Test, 🛜Backend

#661 add validate when new member request signup
  backend/support/domain/src/main/java/kr/co/yigil/member/repository/MemberRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/infrastructure/GoogleLoginStrategy.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/infrastructure/KakaoLoginStrategy.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/infrastructure/NaverLoginStrategy.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/MemberReader.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/infrastructure/MemberReaderImpl.java
Labels: 👍Refactor, 🛜Backend

#664 Feat naver map
  frontend/next.config.js
  frontend/public/loginBtns/naver_logo.svg
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/ui/button/NaverLoginButton.tsx
  frontend/src/app/endpoints/api/auth/callback/naver/constants.ts
  frontend/src/app/endpoints/api/auth/callback/naver/route.ts
Labels: ⭐️Feat, 💻Frontend

#667 네아로 요구사항 만족을 위한 화면 표시 데이터 수정
  frontend/src/app/_components/mypage/MyPageInfo.tsx
Labels: 🛠️Fix, 💻Frontend

#668 24.03.27 prod 배포
  frontend/src/app/_components/mypage/MyPageInfo.tsx
Labels: 💻Frontend

#669 백엔드 응답 데이터 타입 수정에 따라 맞추기
  frontend/src/app/_components/place/spot/Spot.tsx
  frontend/src/types/response.ts
Labels: 🛠️Fix, 💻Frontend

#662 주변 장소 마커 수정 및 내 장소 추가
  frontend/public/logo/ylogo.svg
  frontend/src/app/(with-header)/(home)/nearby/page.tsx
  frontend/src/app/_components/naver-map/markers/activateMarker.ts
  frontend/src/app/_components/naver-map/markers/nearMarker.ts
  frontend/src/app/_components/naver-map/markers/yMarker.ts
  frontend/src/app/_components/near/MapMarker.tsx
  frontend/src/app/_components/near/ViewTravelMap.tsx
  frontend/src/app/_components/near/hooks/nearActions.ts
  frontend/src/app/_components/ui/toast/ToastMsg.tsx
  frontend/src/types/response.ts
Labels: ⭐️Feat, 💻Frontend
