Repository Kernel360/f1-Yigil, pull requests merged in 2024-01, with the labels that each got.

#122 Jest, React Testing Library 도입 및 첫 테스트 작성
  frontend/__mocks__/svg.js
  frontend/__tests__/NavigationIcon.test.tsx
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Labels: ✅Test, 💻Frontend

#124 fix issue that test does not complete
  backend/src/main/java/kr/co/yigil/file/FileUploadEvent.java
  backend/src/test/java/kr/co/yigil/member/application/MemberServiceTest.java
Labels: 🛠️Fix, 🛜Backend

#129 chore: add configuration for db replication
  backend/build.gradle
  backend/docker/postgreSQL/Dockerfile
  backend/docker/postgreSQL/docker-compose.yml
  backend/src/main/java/kr/co/yigil/follow/dto/response/FollowResponse.java
  backend/src/main/java/kr/co/yigil/global/config/datasource/DataSourceType.java
  backend/src/main/java/kr/co/yigil/global/config/datasource/MasterDataSourceConfig.java
  backend/src/main/java/kr/co/yigil/global/config/datasource/SlaveDataSourceConfig.java
  backend/src/main/java/kr/co/yigil/global/config/replication/ReplicationRoutingDataSource.java
  backend/src/main/java/kr/co/yigil/global/config/replication/RoutingDataSourceConfig.java
Labels: 🛜Backend, 🧹Chore

#137 MSW 모킹 라이브러리 도입 및 Jest 테스트 라이브러리 Vitest로 변경 작업
  frontend/.gitignore
  frontend/README.md
  frontend/__mocks__/svg.js
  frontend/__tests__/Carousel.test.tsx
  frontend/jest.config.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/add-active.svg
  frontend/public/icons/heart-active.svg
  frontend/public/icons/home-active.svg
  frontend/public/icons/location-active.svg
  frontend/public/icons/mypage-active.svg
  frontend/public/loginBtns/g-logo.png
  frontend/public/loginBtns/google_login.png
  frontend/public/loginBtns/kakao_login.png
  frontend/public/mockServiceWorker.js
  frontend/src/app/_components/MSWComponent.tsx
  frontend/src/app/_components/carousel/Carousel.tsx
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/ui/button/Kakao.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/mocks/api/data/eventBannerImgs.ts
  frontend/src/mocks/api/eventBanner.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/server.ts
  frontend/src/setupTests.js
  frontend/tsconfig.json
  frontend/vite.config.mjs
Labels: ⭐️Feat, 👍Refactor, 💻Frontend

#138 131 switch to multi module
  backend/yigil-api/src/test/java/kr/co/yigil/auth/MemberOnlyCheckerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/auth/domain/AccessorTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/file/FileUploadEventListenerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/file/FileUploadEventTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/application/FollowRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/application/FollowServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/global/config/JasyptConfigTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/global/exception/ExceptionCodeController.java
Labels: 👍Refactor, 🛜Backend, 🧹Chore

#143 fix: SVGR 적용 후 보이지 않던 구글 로그인 버튼 로고 보이도록 수정
  frontend/public/mockServiceWorker.js
  frontend/src/app/_components/ui/button/GoogleLoginButton.tsx
Labels: 🛠️Fix, 💻Frontend

#145 Post, Travel CRUD 및 테스트 작성.
  .github/ISSUE_TEMPLATE/이길어때-이슈-템플릿⭐️.md
  .github/workflows/CD.yml
  .github/workflows/ci.yml
  .github/workflows/cr.yml
  backend/build.gradle
  backend/src/test/java/kr/co/yigil/global/config/AsyncConfigTest.java
  backend/support/log/src/main/java/kr/co/yigil/LoggingForm.java
  backend/yigil-api/build.gradle
  backend/yigil-api/src/main/java/kr/co/yigil/BackendApplication.java
  backend/yigil-api/src/main/java/kr/co/yigil/file/FileUploadEventListener.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/dto/FollowCountDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/datasource/DataSourceType.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/replication/ReplicationRoutingDataSource.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/replication/RoutingDataSourceConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/application/strategy/GoogleLoginStrategy.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/presentation/LoginController.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/application/MemberService.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/application/PostService.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/domain/Post.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/domain/repository/PostRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/dto/response/PostDeleteResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/dto/response/PostListResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/dto/response/PostResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/presentation/PostController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Course.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Spot.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Travel.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/repository/CourseRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/repository/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/repository/TravelRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/SpotInCourseDto.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/CourseCreateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/CourseUpdateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/SpotCreateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/request/SpotUpdateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseCreateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseFindResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseUpdateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotCreateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotFindResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotUpdateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/util/GeojsonConverter.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/CourseController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/SpotController.java
  backend/yigil-api/src/test/java/kr/co/yigil/BackendApplicationTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/presentation/FollowControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/application/FollowRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/presentation/MemberControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/post/application/PostServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/post/presentation/PostControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/CourseControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/SpotControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#148 지역 목록 컴포넌트 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/regions/jeju.svg
  frontend/src/app/_components/regions/RegionIcon.tsx
  frontend/src/app/_components/regions/RegionLinks.tsx
  frontend/src/app/_components/regions/constants.ts
  frontend/src/app/_components/regions/index.ts
  frontend/src/app/page.tsx
  frontend/src/types/type.d.ts
Labels: ⭐️Feat, 💻Frontend

#153 게시글 좋아요 기능 추가
  backend/build.gradle
  backend/yigil-api/build.gradle
  backend/yigil-api/src/main/java/kr/co/yigil/follow/application/FollowRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/application/FollowService.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/FollowCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowCountRedisRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowCountRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/application/LikeRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/application/LikeService.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/domain/Like.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/domain/LikeCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/domain/repository/LikeCountRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/domain/repository/LikeRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/dto/response/LikeResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/dto/response/UnlikeResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/presentation/LikeController.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/application/FollowRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/application/FollowServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/domain/repository/FollowCountRedisRepositoryTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/global/config/AsyncConfigTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/like/application/LikeRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/like/application/LikeServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/like/presentation/LikeControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/member/application/FollowRedisIntegrityServiceTest.java
Labels: ⭐️Feat, 🛜Backend

#155 migrate like domain to favor
  backend/yigil-api/src/main/java/kr/co/yigil/favor/application/FavorRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/application/FavorService.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/domain/Favor.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/domain/FavorCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/domain/repository/FavorCountRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/domain/repository/FavorRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/dto/response/AddFavorResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/dto/response/DeleteFavorResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/favor/presentation/FavorController.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowCountRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/application/LikeRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/application/LikeService.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/domain/LikeCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/like/domain/repository/LikeCountRepository.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/application/FavorServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/favor/presentation/FavorControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/like/application/LikeRedisIntegrityServiceTest.java
Labels: 🛠️Fix, 🛜Backend, 🧹Chore

#157 Update ci.yml
  .github/workflows/ci.yml
Labels: 🛠️Fix, 👍Refactor, 🛜Backend

#159 docs: 프론트엔드 중간 점검 관련 글 작성
  frontend/README.md
Labels: 📕Docs, 💻Frontend

#162 161 hotfix 빌드시 오류 발생하는 오류 수정
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  backend/yigil-api/build.gradle
  backend/yigil-api/src/main/java/kr/co/yigil/post/domain/Post.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Course.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Travel.java
  backend/yigil-api/src/main/resources/application.yml
Labels: 🛠️Fix, 🛜Backend

#160 댓글 기능 추가
  backend/yigil-api/src/main/java/kr/co/yigil/comment/application/CommentRedisIntegrityService.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/application/CommentService.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/domain/Comment.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/domain/CommentCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/domain/repository/CommentCountRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/domain/repository/CommentRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/dto/request/CommentCreateRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/dto/response/CommentCreateResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/dto/response/CommentDeleteResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/dto/response/CommentResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/comment/presentation/CommentController.java
  backend/yigil-api/src/main/java/kr/co/yigil/file/FileUploadEventListener.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/FollowCount.java
  backend/yigil-api/src/main/java/kr/co/yigil/follow/domain/repository/FollowCountRedisRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/exception/ExceptionCode.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/application/PostService.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/dto/response/PostResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/post/presentation/PostController.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/CourseService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/SpotService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/application/TravelService.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Spot.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/Travel.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/domain/repository/SpotRepository.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/CourseFindResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/dto/response/SpotFindResponse.java
  backend/yigil-api/src/main/java/kr/co/yigil/travel/presentation/SpotController.java
  backend/yigil-api/src/main/resources/application.yml
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/presentation/CommentControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/file/FileUploadEventListenerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/follow/domain/repository/FollowCountRedisRepositoryTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/post/application/PostServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/CourseServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/SpotServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/application/TravelServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/travel/presentation/SpotControllerTest.java
Labels: ⭐️Feat, 🛜Backend

#171 어드민 서비스를 위한 어드민 모듈 추가
  .github/ISSUE_TEMPLATE/이길어때-이슈-템플릿⭐️.md
  .github/pull_request_template.md
  .github/workflows/cr.yml
  .github/workflows/frontend-ci.yml
  admin-frontend/yigil-admin/.gitignore
  admin-frontend/yigil-admin/README.md
  admin-frontend/yigil-admin/components.json
  admin-frontend/yigil-admin/next.config.mjs
  admin-frontend/yigil-admin/package-lock.json
  admin-frontend/yigil-admin/package.json
  admin-frontend/yigil-admin/postcss.config.js
  admin-frontend/yigil-admin/public/next.svg
  admin-frontend/yigil-admin/public/vercel.svg
  admin-frontend/yigil-admin/src/app/favicon.ico
  admin-frontend/yigil-admin/src/app/globals.css
  admin-frontend/yigil-admin/src/app/layout.tsx
  admin-frontend/yigil-admin/src/app/page.tsx
  admin-frontend/yigil-admin/src/components/ui/alert.tsx
  admin-frontend/yigil-admin/src/components/ui/button.tsx
  admin-frontend/yigil-admin/src/components/ui/drawer.tsx
  admin-frontend/yigil-admin/src/components/ui/dropdown-menu.tsx
  admin-frontend/yigil-admin/src/lib/utils.ts
  admin-frontend/yigil-admin/tailwind.config.ts
  admin-frontend/yigil-admin/tsconfig.json
  backend/build.gradle
  backend/settings.gradle
  backend/yigil-admin/build.gradle
  backend/yigil-admin/src/main/java/kr/co/yigil/AdminApplication.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/presentation/AdminController.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/datasource/DataSourceType.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/datasource/MasterDataSourceConfig.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/datasource/SlaveDataSourceConfig.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/replication/ReplicationRoutingDataSource.java
  backend/yigil-admin/src/main/java/kr/co/yigil/global/config/replication/RoutingDataSourceConfig.java
  backend/yigil-admin/src/main/resources/logback-spring.xml
  backend/yigil-admin/src/main/resources/spy.properties
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/yigil-api/src/main/resources/application.yml
  frontend/README.md
Labels: ⭐️Feat, 🛜Backend, 💻Frontend

#172 헤더 컴포넌트 재작성
  frontend/next.config.js
  frontend/public/icons/map-pin.svg
  frontend/public/icons/profile.svg
  frontend/public/logo/header-logo.svg
  frontend/public/logo/yigil_logo.svg
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/ui/HeaderIcons.tsx
  frontend/src/app/_components/ui/profile/RoundProfile.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
Labels: 👍Refactor, 💻Frontend

#175 마이 페이지의 마이 페이지 부분 구현
  frontend/__tests__/Carousel.test.tsx
  frontend/__tests__/MyPageMyPlace.test.tsx
  frontend/public/icons/unlock.svg
  frontend/src/app/(with-header)/(mypage)/layout.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/page.tsx
  frontend/src/app/(with-header)/(mypage)/setting/page.tsx
  frontend/src/app/(with-header)/mypage/page.tsx
  frontend/src/app/_components/carousel/Carousel.tsx
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/mypage/MyPageContent.tsx
  frontend/src/app/_components/mypage/MyPageInfo.tsx
  frontend/src/app/_components/mypage/MyPagePlaceItem.tsx
  frontend/src/app/_components/mypage/MyPagePlaceList.tsx
  frontend/src/app/_components/mypage/MyPageRoutes.tsx
  frontend/src/app/_components/mypage/MyPlace.tsx
  frontend/src/app/_components/mypage/StoredPlace.tsx
  frontend/src/app/_components/mypage/constants.ts
  frontend/src/mocks/api/data/myPlaceData.ts
  frontend/src/mocks/api/myPlace.ts
  frontend/src/mocks/handlers.ts
Labels: ⭐️Feat, 💻Frontend

#185 헤더 리팩토링
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(with-header)/layout.tsx
  frontend/src/app/_components/header/Header.tsx
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/header/constants.ts
  frontend/src/app/_components/ui/popover/PopOver.tsx
Labels: ⭐️Feat, 💻Frontend

#183 feat: Upload backend and frontend to ec2 through nginx
  backend/support/Dockerfile
  backend/yigil-admin/Dockerfile
  backend/yigil-admin/build.gradle
  proxy/nginx.conf
Labels: ⭐️Feat, 🛜Backend, 💻Frontend

#188 어드민 프론트서버 생성 및 기능 추가
  admin-frontend/yigil-admin/.eslintrc.cjs
  admin-frontend/yigil-admin/components.json
  admin-frontend/yigil-admin/package 2.json
  admin-frontend/yigil-admin/package-lock.json
  admin-frontend/yigil-admin/package.json
  admin-frontend/yigil-admin/postcss.config.js
  admin-frontend/yigil-admin/src/App.tsx
  admin-frontend/yigil-admin/src/components/HomePage.tsx
  admin-frontend/yigil-admin/src/components/Layout.tsx
  admin-frontend/yigil-admin/src/components/LoginPage.tsx
  admin-frontend/yigil-admin/src/components/snippet/Header.tsx
  admin-frontend/yigil-admin/src/components/snippet/mode-toggle.tsx
  admin-frontend/yigil-admin/src/components/theme-provider.tsx
  admin-frontend/yigil-admin/src/components/ui/button.tsx
  admin-frontend/yigil-admin/src/components/ui/card.tsx
  admin-frontend/yigil-admin/src/components/ui/dropdown-menu.tsx
  admin-frontend/yigil-admin/src/components/ui/input.tsx
  admin-frontend/yigil-admin/src/components/ui/label.tsx
  admin-frontend/yigil-admin/src/components/ui/navigation-menu.tsx
  admin-frontend/yigil-admin/src/components/ui/tabs.tsx
  admin-frontend/yigil-admin/tailwind.config.js
  admin-frontend/yigil-admin/vite.config.ts
Labels: 💻Frontend, 🧹Chore

#189 basePath 이름 변경
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
  frontend/src/context/AuthContext.tsx
Labels: 🛠️Fix, 💻Frontend

#190 마이페이지 / 마이페이지 디자인 변경에 따른 스타일 수정
  frontend/src/app/_components/mypage/MyPlace.tsx
Labels: 💻Frontend, 🧹Chore

#194 로그인 api 엔드포인트 변경
  .github/ISSUE_TEMPLATE/이길어때-이슈-템플릿⭐️.md
  .github/pull_request_template.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/cr.yml
  .github/workflows/frontend-ci.yml
  admin-frontend/yigil-admin/src/components/snippet/Header.tsx
  admin-frontend/yigil-admin/src/components/ui/navigation-menu.tsx
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/domain/Admin.java
  backend/yigil-admin/src/main/java/kr/co/yigil/admin/presentation/AdminController.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/application/strategy/GoogleLoginStrategy.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/dto/request/LoginRequest.java
  backend/yigil-api/src/main/java/kr/co/yigil/login/presentation/LoginController.java
  backend/yigil-api/src/main/java/kr/co/yigil/member/domain/Member.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentRedisIntegrityServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/comment/application/CommentServiceTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/login/presentation/LoginControllerTest.java
  backend/yigil-api/src/test/java/kr/co/yigil/post/application/PostServiceTest.java
Labels: 🛠️Fix, 🛜Backend

#191 Popover 웹 접근성을 위한 esc 키 다운 이벤트 추가
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/mypage/MyPageContent.tsx
  frontend/src/app/_components/mypage/MyPageInfo.tsx
  frontend/src/app/_components/mypage/MyPlace.tsx
  frontend/src/app/_components/ui/popover/PopOver.tsx
  frontend/src/app/_components/ui/popover/PopOverItem.tsx
  frontend/src/app/_components/ui/profile/RoundProfile.tsx
Labels: 👍Refactor, 💻Frontend

#197 로그인 기능 및 스타일링
  frontend/public/icons/x.svg
  frontend/public/loginBtns/kakao_logo.png
  frontend/public/loginBtns/kakao_logo.svg
  frontend/src/app/(without-header)/login/_components/ui/LoginLogo.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/ui/button/CloseButton.tsx
  frontend/src/app/_components/ui/button/Kakao.tsx
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
  frontend/src/types/type.d.ts
Labels: ⭐️Feat, 💻Frontend

#201 검색 컴포넌트 작성
  frontend/__tests__/SearchBar.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/x-mark.svg
  frontend/src/app/(with-header)/(home)/HomeNavigation.tsx
  frontend/src/app/(with-header)/(home)/layout.tsx
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/layout.tsx
  frontend/src/app/_components/SearchBar.tsx
  frontend/src/app/_components/search/SearchBar.tsx
  frontend/src/app/_components/search/SearchBox.tsx
  frontend/src/app/_components/search/SearchHistory.tsx
  frontend/src/app/_components/search/SearchItem.tsx
  frontend/src/app/_components/search/index.ts
  frontend/src/app/search/page.tsx
Labels: ⭐️Feat, 💻Frontend

#202 구글 로그인 버튼 스타일 적용
  frontend/public/logo/yigil_logo.svg
  frontend/src/app/_components/header/HeaderClient.tsx
  frontend/src/app/_components/ui/button/GoogleLoginButton.tsx
Labels: 💻Frontend, 🎨style

#203 로그인 api 요청 주소 변경
  frontend/src/app/endpoints/api/auth/[...nextauth]/route.ts
Labels: 🛠️Fix, 💻Frontend

#204 Search 컴포넌트 스타일 수정
  frontend/src/app/_components/search/SearchBar.tsx
  frontend/src/app/_components/search/SearchHistory.tsx
Labels: 💻Frontend, 🎨style

#206 Login 페이지 스타일 수정
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/ui/button/CloseButton.tsx
Labels: 💻Frontend, 🎨style
