Repository Kernel360/f1-Yigil, pull requests merged in 2024-04, with the labels that each got.

#724 fix: 빌드 에러 수정
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
Labels: 🛠️Fix, 💻Frontend

#725 메타데이터, Open graph, twitter 설정
  frontend/public/logo/og-logo.png
  frontend/src/app/(with-header)/(home)/nearby/page.tsx
  frontend/src/app/(with-header)/(home)/places/popular/page.tsx
  frontend/src/app/(with-header)/(home)/places/recommended/page.tsx
  frontend/src/app/(with-header)/(home)/places/regions/[id]/page.tsx
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/layout.tsx
  frontend/src/utils.ts
Labels: ⭐️Feat, 💻Frontend, 🧹Chore

#727 fix: fetch 함수에 대한 리턴 타입 공통 타입으로 수정
  frontend/src/app/(with-header)/(home)/nearby/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/favorite/course/page.tsx
  frontend/src/app/(with-header)/area/error.tsx
  frontend/src/app/(with-header)/area/page.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/bookmark/BookmarkList.tsx
  frontend/src/app/_components/mypage/bookmark/bookmarkActions.ts
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/favorite/FavoriteActions.ts
  frontend/src/app/_components/mypage/favorite/FavoriteCourseList.tsx
  frontend/src/app/_components/mypage/favorite/FavoriteSpotList.tsx
  frontend/src/app/_components/mypage/follow/MyPageFollowList.tsx
  frontend/src/app/_components/mypage/hooks/followActions.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/near/hooks/nearActions.ts
  frontend/src/app/_components/notification/Notification.tsx
  frontend/src/app/_components/notification/NotificationItem.tsx
  frontend/src/app/_components/notification/NotificationList.tsx
  frontend/src/app/_components/notification/notificationActions.ts
  frontend/src/app/_components/setting/ModifyUser.tsx
  frontend/src/app/_components/setting/actions.ts
  frontend/src/app/_components/setting/area/AreaItem.tsx
  frontend/src/app/_components/setting/area/AreaList.tsx
  frontend/src/app/_components/setting/area/actions.ts
  frontend/src/app/notification/page.tsx
Labels: 🛠️Fix, 💻Frontend

#728 Feat open graph
  frontend/public/logo/og-logo.png
  frontend/src/app/(with-header)/(home)/nearby/page.tsx
  frontend/src/app/(with-header)/(home)/places/popular/page.tsx
  frontend/src/app/(with-header)/(home)/places/recommended/page.tsx
  frontend/src/app/(with-header)/(home)/places/regions/[id]/page.tsx
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/layout.tsx
  frontend/src/utils.ts
Labels: ⭐️Feat, 💻Frontend

#729 feat: 로그인 실패 시 로그인화면 에러 출력
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/ui/button/CloseButton.tsx
  frontend/src/app/endpoints/api/auth/callback/google/route.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/app/endpoints/api/auth/callback/naver/route.ts
  frontend/tailwind.config.ts
Labels: ⭐️Feat, 💻Frontend

#730 Fix fetch return type 디벨롭 병합
  frontend/src/app/(with-header)/(home)/nearby/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/favorite/course/page.tsx
  frontend/src/app/(with-header)/area/error.tsx
  frontend/src/app/(with-header)/area/page.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/bookmark/BookmarkList.tsx
  frontend/src/app/_components/mypage/bookmark/bookmarkActions.ts
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/favorite/FavoriteActions.ts
  frontend/src/app/_components/mypage/favorite/FavoriteCourseList.tsx
  frontend/src/app/_components/mypage/favorite/FavoriteSpotList.tsx
  frontend/src/app/_components/mypage/follow/MyPageFollowList.tsx
  frontend/src/app/_components/mypage/hooks/followActions.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/near/hooks/nearActions.ts
  frontend/src/app/_components/notification/Notification.tsx
  frontend/src/app/_components/notification/NotificationItem.tsx
  frontend/src/app/_components/notification/NotificationList.tsx
  frontend/src/app/_components/notification/notificationActions.ts
  frontend/src/app/_components/setting/ModifyUser.tsx
  frontend/src/app/_components/setting/actions.ts
  frontend/src/app/_components/setting/area/AreaItem.tsx
  frontend/src/app/_components/setting/area/AreaList.tsx
  frontend/src/app/_components/setting/area/actions.ts
  frontend/src/app/notification/page.tsx
Labels: 🛠️Fix, 💻Frontend

#732 메인 병합
  README.md
  frontend/public/logo/og-logo.png
  frontend/src/app/(with-header)/(home)/nearby/page.tsx
  frontend/src/app/(with-header)/(home)/places/popular/page.tsx
  frontend/src/app/(with-header)/(home)/places/recommended/page.tsx
  frontend/src/app/(with-header)/(home)/places/regions/[id]/page.tsx
  frontend/src/app/(with-header)/(home)/search/page.tsx
  frontend/src/app/(with-header)/(mypage)/mypage/favorite/course/page.tsx
  frontend/src/app/(with-header)/area/error.tsx
  frontend/src/app/(with-header)/area/page.tsx
  frontend/src/app/(with-header)/detail/[travel]/[id]/page.tsx
  frontend/src/app/(with-header)/place/[id]/page.tsx
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/mypage/MyPageSelectBtns.tsx
  frontend/src/app/_components/mypage/bookmark/BookmarkList.tsx
  frontend/src/app/_components/mypage/bookmark/bookmarkActions.ts
  frontend/src/app/_components/mypage/course/CourseDetail.tsx
  frontend/src/app/_components/mypage/course/MyPageCourseList.tsx
  frontend/src/app/_components/mypage/favorite/FavoriteActions.ts
  frontend/src/app/_components/mypage/favorite/FavoriteCourseList.tsx
  frontend/src/app/_components/mypage/favorite/FavoriteSpotList.tsx
  frontend/src/app/_components/mypage/follow/MyPageFollowList.tsx
  frontend/src/app/_components/mypage/hooks/followActions.ts
  frontend/src/app/_components/mypage/hooks/myPageActions.ts
  frontend/src/app/_components/mypage/spot/MyPageSpotList.tsx
  frontend/src/app/_components/near/hooks/nearActions.ts
  frontend/src/app/_components/notification/Notification.tsx
  frontend/src/app/_components/notification/NotificationItem.tsx
  frontend/src/app/_components/notification/NotificationList.tsx
  frontend/src/app/_components/notification/notificationActions.ts
  frontend/src/app/_components/setting/ModifyUser.tsx
  frontend/src/app/_components/setting/actions.ts
  frontend/src/app/_components/setting/area/AreaItem.tsx
  frontend/src/app/_components/setting/area/AreaList.tsx
  frontend/src/app/_components/setting/area/actions.ts
  frontend/src/app/_components/ui/button/CloseButton.tsx
  frontend/src/app/endpoints/api/auth/callback/google/route.ts
  frontend/src/app/endpoints/api/auth/callback/kakao/route.ts
  frontend/src/app/endpoints/api/auth/callback/naver/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/notification/page.tsx
  frontend/src/utils.ts
  frontend/tailwind.config.ts
Labels: 🛜Backend, 💻Frontend

#734 Fix naver env
  frontend/src/app/(without-header)/login/page.tsx
  frontend/src/app/_components/search/action.ts
  frontend/src/app/endpoints/api/auth/callback/naver/route.ts
  frontend/src/types/type.d.ts
Labels: 🛠️Fix, 💻Frontend, 🧹Chore

#739 Update SecurityConfig.java
  backend/yigil-api/src/main/java/kr/co/yigil/global/config/SecurityConfig.java
Labels: 🛜Backend
